[2020-03-31 07:41] elitan opened #1 "Make repo public"
What about making this repo public right now?

[2020-04-03 21:16] #1 closed

[2020-04-06 19:11] elitan opened #4 "Handle ports already in use"
if, ex, port 8080 is already in use `nhost dev` will crash:

[code]

We should handle this by either, generate a new port to use or exit and prompt with a message saying why `nhost dev` won't work.

I think V1 could just exit and say the ports are already in use.

[2020-04-06 19:26] elitan opened #5 "Custom HTTP API container"
Add custom API container on `nhost init`.

`api/` folder

`Dockerfile` that will run the custom-api either in the `api/` folder or in some hidden `.nhost` folder.

Boilerplate code for the first endpoint.

Support for Node or Python. Defaulting to Node Express. Maybe Python could be selected through ex `nhost init --custom-api python` or something similar.

[2020-04-06 20:03] defrex opened #6 "First Try Feedback"
I just gave this a try and thought I'd collect my feedback here.

### How is it intended to be used?
You can only run `nhost init` on new directories. I assume most people will already have a project, however.

It creates 3 things. It's not clear which of these should be in `.gitignore`, and which should be part of the project.

`docker-compose.example` - When I see a `.example` file, I expect tha

[2020-04-07 11:40] nunopato commented on #6
@defrex thanks for the feedback, any of it at this point is very welcome!

First of all, sorry for the lack of documentation about how to use it, the work here was done in a few hours and we didn't put too much thought into it since we mainly wanted to get a feel for how the development environment can look like.

**How is it intended to be used?** && **Nhost dev**

Running `nhost init` on existin

[2020-04-07 15:16] defrex commented on #6
No worries about the fast first version. I'm a big fan of MVP strats, specifically because they elicit conversations like this one! 😄

Your proposed changes sound great to me. I do need access to `admin_secret`, however, since I require it for debug queries and for running a permissionless introspection query needed to power `graphql-codegen`. I don't need to specify it though, just know what it i

[2020-04-07 16:32] nunopato commented on #6
@defrex indeed, these are the most fruitful 😄

Would an optional `graphql_admin_secret` config parameter work? if specified, `nhost dev` uses it, otherwise, it generates a new one on the fly on every `nhost dev` outputting it to stdout?

Coming back to `config.yaml`, it just came back to me again why, unfortunately, we can't use another filename - it is an actual requirement for `hasura console`.

[2020-04-07 16:39] defrex commented on #6
An optional parameter for `graphql_admin_secret` would totally work. 👍

That's a shame about `hasura-cli`, but it seems there isn't much to be done about it.

[2020-04-08 06:59] elitan opened #9 "Self check for update"
If new version of `nhost` is available, prompt user to update using `npm install -g nhost@latest`.

[2020-04-09 16:14] nunopato commented on #6
@defrex We just published a new version of the CLI that incorporates some of the changes we discussed as well the auth schema out-of-the-box. As always, any feedback is much appreciated.

https://www.npmjs.com/package/nhost

[2020-04-09 18:23] defrex commented on #6
Awesome, this version is much improved. Great work.

One thing worth pointing out: if the services fail to boot, the `nhost dev` command gets stuck in this loop indefinitely. Ctrl+C wouldn't even kill it, I had to `kill` it. A timeout + not locking the proc would be a nice improvement.
https://github.com/nhost/cli/blob/master/src/commands/dev.js#L111

Once I figured that out (via `cd .nhost && doc

[2020-04-09 18:35] nunopato commented on #6
@defrex thanks again!

yes, the current implementation doesn't assume things going south, yet :) what was the issue in the end?

We will work next on having `nhost init` behave correctly when there is already a setup for migrations, because right now the assumption is that there is not `migrations` folder there.

Thanks

[2020-04-09 18:48] defrex commented on #6
The issue was the same as the one I posted, more or less. I already had a migrations directory with an init migration.

Looking forward to the next release!

[2020-04-09 18:50] elitan commented on #6
Very good feedback. Me and @nunopato talked about exactly this today. How to get `nhost` to work with already existing projects.

Our idea here was to add `endpoint` and `admin-secret` to `nhost init` like this:

`nhost init --endpoint=https://hasura-[redacted].nhost.app --admin-secret=[reducted]`

This enables us to download and use all existing migrations from an existing project, instead of usi

[2020-04-09 18:55] defrex commented on #6
That sounds like exactly what I need. Great progress guys. 💪

[2020-04-09 22:25] nunopato commented on #6
@defrex now looking again at the commands you issued, I am not sure I understand what you were trying to achieve.

1) `hasura metadata export --endpoint=https://hasura-[redacted].nhost.app --admin-secret=[redacted]` - this exports your current metadata

2) `hasura migrate create  "update" --from-server --endpoint=https://hasura-[redacted].nhost.app --admin-secret=[redacted]` - this initializes or

[2020-04-10 04:55] elitan commented on #6
Above all, we should really try to **not** change the schema for HBP so we should really keep this problem to a minimum from the start.

Hopefully, we could provide raw SQL scripts to upgrade an HBP version. These scripts can be run locally for a user on their dev env and produce new migrations entries.

![image](https://user-images.githubusercontent.com/331818/78963424-c216b400-7af7-11ea-8042-c4f

[2020-04-10 15:16] defrex commented on #6
@nunopato

Nothing! 😅 The point of posting the log was to explain what I'd like to do and demonstrate why it doesn't work. You picked up what I was putting down.

[2020-04-15 14:43] nunopato commented on #6
@defrex thank you! will close the issue now.

[2020-04-15 14:43] #6 closed

[2020-04-15 15:55] defrex opened #11 "Unable to change postgres port"
If I change the `postgres_port` in `config.yaml`, the service no longer boots. I believe it's because the port is mapped `3333:3333` (assuming 3333 is the new port), but doesn't change the internal postgres port. If I'm looking at this correctly, it should be mapping the custom port to the default port. Ie `3333:5432`.

[2020-04-15 23:09] nunopato commented on #11
@defrex good catch! fixed it on a PR I already had for warning when a new CLI version is released to npm. In this initial phase, I presume lots of updates will be pushed on a regular basis.

[2020-04-15 23:16] #11 closed

[2020-04-16 18:33] elitan opened #13 "Include minio for storage support"
Add minio as docker service:

[code]

Also add these env var to HBP:

[code]

[2020-04-17 12:02] nunopato opened #15 "Use production versions when using `nhost init` with `--endpoint`"
We should expose a custom endpoint that for a given project ID it returns all versions for GraphQL engine, PostgreSQL and HBP.

This way, when initializing a local project from an existing project running on Nhost, we can automatically configure it to run the exact same versions of all services.

[2020-04-17 20:28] elitan opened #16 ".env.development should be written (empty) even if no env vars being used"
Otherwise `nhost dev`won't work

╭─eli@johans-mbp.lan ~/tmp/facebook2
╰─➤  nhost dev
development environment is launching...first run takes longer to start
Couldn't find env file: /Users/eli/tmp/facebook2/.env.development
Error: Command failed: docker-compose -f ./.nhost/docker-compose.yaml config
Couldn't find env file: /Users/eli/tmp/facebook2/.env.development
    at DevCommand.run (~/.npm-packa

[2020-04-17 21:12] elitan opened #17 "apply migrations on remote server right after nhost init with --skip-execution"

[2020-04-17 23:22] nunopato commented on #17
Fixed on https://github.com/nhost/cli/pull/14

[2020-04-17 23:22] #17 closed

[2020-04-17 23:23] nunopato commented on #16
Fixed on https://github.com/nhost/cli/pull/14

[2020-04-17 23:23] #16 closed

[2020-04-17 23:25] nunopato commented on #9
I will close this for now since I've added a warning when the CLI is out-of-data. The version on NPM is checked once a day.

[2020-04-17 23:25] #9 closed

[2020-04-17 23:26] nunopato commented on #4
Current behaviour: the CLI outputs a warning message asking the user to double check if all ports configured in `config.yaml` are available.

[2020-05-02 09:05] baggsie opened #18 "`nhost init..` failing due to Hasura CLI dependency error"
Hello,

On windows 10:

[code]

[2020-05-02 10:22] elitan commented on #18
@baggsie Hi! Yes, right now the Hasura CLI is a dependency you must have on your system.

The current dependencies are:

- Hasura CLI
- Docker
- Docker Compose

We will make this more clear in the future.

[2020-05-02 10:31] baggsie commented on #18
Hi @elitan

I have the dependencies already installed:

[code]

[2020-05-02 10:55] nunopato commented on #18
@baggsie Unfortunatelty, we only support *nix systems at the moment.. Support for Windows is in the roadmap!

[2020-05-02 11:15] baggsie commented on #18
OK, thanks for your help.

[2020-05-02 11:19] nunopato commented on #18
@baggsie thank you for writing to us! I will leave this issue open, so we can better track current known issues, and update the title to better reflect Windows support.

[2020-06-16 15:38] elitan opened #19 "Workflow"
# Login

[code]

save `~/.nhost/nhost.yaml`

[code]

---

# Nhost init

Go to local project dir.

`nhost init`

Get list of projects.

Select project.

Will create .nhost/config.yaml with ex:

project_id: <project_id>

Download and applies migrations / metadata

Now remote and local Hasura are in sync.

## Nhost dev

# 1

Make API request to https://customapi.nhost.io/custom/config?id=<randomstr>&

[2020-06-16 16:00] nunopato commented on #19
- `.nhost/config.yaml` currently config.yaml is not inside `.nhost` and it can't be because hasura needs it at the root of the project alongside `migrations`

- I think point number 1 in `nhost dev` can and should be done on `nhost init` when creating `config.yaml`

- The same thing for number 2.. we are already creating a `.env.development` file for because of hasura's webhooks that are specified

[2020-06-17 07:38] elitan commented on #19
**1.**
Right, about the `config.yaml`(hasura). We need to handle that too.

I was thinking of a config file specifically for Nhost. Maybe we can name it `.nhost/nhost.yaml`. We will store the Nhost project id here so `nhost dev` (and future commands) knows what project it is.

**2.**
The reason I wanted to place fetching project info in `nhost dev` was because if a user changes some settings in Nh

[2020-06-25 15:17] nunopato commented on #19
1.  Do you see a reason for not using the same `config.yaml` file?

2. Exactly because of the issue you mention (wanting to test different versions locally), I would not always request for the production version being used. I would do that only once, on `nhost init`. I think we should always encourage local changes first, production next. Also, I could see this being automated (p.e. update hasura

[2020-07-21 16:23] elitan opened #23 "nhost logout"
`nhost logout` should clear local token.

[2020-07-29 00:00] nunopato commented on #19
Clossing

[2020-07-29 00:00] #19 closed

[2020-07-29 00:02] nunopato commented on #23
https://github.com/nhost/cli/pull/22

[2020-07-29 00:02] #23 closed

[2020-07-29 00:02] nunopato commented on #15
https://github.com/nhost/cli/pull/22

[2020-07-29 00:02] #15 closed

[2020-10-19 01:46] alexraison opened #29 "nhost init fails when trying to access userData.user.teams"
Running the command:
`nhost init -e https://hasura-<nhost_endpoint>.nhost.app -a <admin_password>`

fails with the error:
`TypeError: userData.user.teams.flatMap(...) is not a function or its return value is not iterable`

Does this command work without my user being part of a team?

[2020-10-19 01:51] alexraison opened #30 "nhost init fails when trying to export seed data"
Running the command:
`nhost init -e https://hasura-<nhost_endpoint>.nhost.app -a <admin_password>`

fails with the error:
`Error! Command failed: hasura seeds create roles_and_providers --from-table auth.roles --from-table auth.providers --endpoint https://hasura-<nhost_endpoint>.nhost.app --admin-secret <admin_password> --skip-update-check
time="2020-10-19T13:57:18+13:00" level=fatal msg="exporti

[2020-11-04 16:19] elitan commented on #30
@alexraison What `hasura` version do you run?

`hasura version`

[2020-11-04 16:21] elitan commented on #30
The reason is Hasura's CLI had a bug in their latest version. @nunopato added a fix for it here: https://github.com/hasura/graphql-engine/pull/5710

I'm running `hasura v1.3.0` and it works.

I'm installing `hasura` like so: `npm i -g hasura-cli@1.3.0`

[2020-11-15 19:13] nunopato commented on #29
@alexraison sorry for the late reply, Alex. Which version are you using? We pushed a few fixes in the meantime that might have fixed your issue. Please try again and let me know the result.

Also, on the latest version, `init` does not accept any arguments. Running `nhost init` will start an interactive prompt and ask you to pick one project.

Feel free to reach out to me directly on discord!

[2020-11-18 10:01] elitan opened #31 "Incorrect path in .gitignore"
Currently `nhost` adds the following lines to .gitignore:

[code]

Correct lines should be without the `.` at the start of each line. Like so:

[code]

[2020-11-18 13:52] nunopato commented on #31
@elitan fixed

[2020-11-18 13:53] #31 closed

[2020-11-18 13:53] nunopato commented on #30
@alexraison hasura v1.3.3 is out with the fix @elitan mentioned... closing this issue now

[2020-11-18 13:53] #30 closed

[2020-11-18 14:20] elitan commented on #30
For me it failed again. I had to remmove the `.hasura` folder in my home directory:

[code]

Then `nhost init` worker again.

[2020-11-19 00:19] alexraison commented on #29
Hi @nunopato, I'm using nhost/0.0.18 darwin-x64 node-v10.17.0 which still has the same issue.

[2020-11-19 01:17] nunopato commented on #29
closing this issue now, @alexraison and I synced via discord.

[2020-11-19 01:17] #29 closed

[2020-11-19 11:15] elitan opened #33 "How to attach to api logs"
Print how to attach to API logs

ex: `docker logs -f nhost_api_1`.

Can we control the name (`nhost_api_1`) to be sure it's correct when printing?

[2020-11-19 11:22] elitan commented on #33
Using `container_name: <name>` sets the name. I've set the name here: https://github.com/nhost/cli/pull/32/commits/d517eec73117042e03a81dd272aef1f955327ef6

[2020-11-20 09:41] elitan opened #34 "init command does not apply init migration on prod hasura"
![image](https://user-images.githubusercontent.com/331818/99785051-f128e580-2b1c-11eb-89cc-0c56aec0e94f.png)

[2020-11-20 09:43] elitan commented on #34
Maybe we should reset all migrations on prod when we do `nhost init` so the `SOUCE STATUS` and `DATABASE STATUS` are in sync.

https://hasura.io/blog/resetting-hasura-migrations/

[2020-11-20 10:06] elitan opened #35 "`nhost dev` fails if no api/ folder, package.json and yarn.lock file exstis"
![image](https://user-images.githubusercontent.com/331818/99787751-6e098e80-2b20-11eb-89e4-d9a442d51ac2.png)

[2020-11-20 11:54] #35 closed

[2020-11-23 09:38] elitan commented on #4
We can use [`detect-port`](https://www.npmjs.com/package/detect-port) to check if all ports ara available before starting the services.

[2020-11-25 10:59] elitan opened #37 "Check if entries exists before adding to .gitignore"
[code]

Possible move `.nhost/` folder to root of directory, and move `db_data` and `minio_data` to `.nhost/` so we only need to add `.nhost` to `.gitignore`.

[2020-11-25 11:03] elitan commented on #34
All works now.

[2020-11-25 11:03] #34 closed

[2020-11-25 12:47] nunopato commented on #33
@elitan looks good, will close the issue

[2020-11-25 12:48] nunopato commented on #33
@elitan the issue is about logs, not the name of the container, sorry for closing it, reopening it..

[2020-11-25 12:51] nunopato commented on #37
@elitan moving `.nhost` to the root of the project sounds good to me

[2020-11-25 13:14] elitan commented on #37
@nunopato What about moving `db_data` ,`minio_data` to the `.nhost/` folder too? Basically everything that should not be checked in to git should be in the `.nhost/` folder is my thinking:

- `db_data`
- `minio_data`
- `nhost.yaml`

[2020-11-25 13:21] nunopato commented on #37
@elitan yes that too, I meant with `db_data` and `minio_data` within it 👍

[2020-11-26 22:32] #5 closed

[2020-12-06 18:01] elitan commented on #33
Done: https://docs.nhost.io/cli/dev#logs

[2020-12-06 18:01] #33 closed

[2020-12-07 21:31] elitan opened #42 "Provide JWT_ALGO/KEY to the API"
Great to issue custom tokens that doesn't cover the normal user registration/login flow.

[2020-12-09 13:32] csterritt opened #43 "Add Postgres extensions (if possible)"
I have a Postgres extension installed in my official database, `pg_trgm`, which wasn't found by the CLI's migration generator.  This may not be possible, or it may be a Hasura thing, so I'd be glad to post a request there.

Anyway, adding

[code]

To my migration's `up.sql` file cleared up the problem, and the project was able to start.

The code that uses the extension, which (as we found) kills

[2020-12-09 19:53] elitan opened #44 "Add static roles/providers to init migration."
currently using `hasura seeds`. Which feels incorrect since the roles/providers are tightly connected with the schema.

It's even in the migrations of HBP:

https://github.com/nhost/hasura-backend-plus/blob/master/migrations/1_init/up.sql#L112-L116

[2020-12-09 20:03] elitan commented on #43
Relevant:

[code]

[2020-12-09 21:04] #37 closed

[2020-12-09 21:05] nunopato commented on #37
this issue can be closed since this is already implemented 👍

[2020-12-30 17:07] elitan opened #46 "Check order of export (up.sql) from `nhost init`"
Check with custom functions.

[2021-01-17 13:37] Svarto opened #48 "Expo url setup for nhost-cli local development and production use cases"
The dockers are set up to serve on localhost at the moment, this makes it not possible to connect to them over the network from anotehr computer, or in my specific case during RN Expo development, through the Expo client which connects over the local network to the services.

If the option existed to choose to serve the dockers to listen on 0.0.0.0 or the current local network IP, then this would

[2021-01-22 07:08] elitan commented on #42
Available as env vars:

[code]

[2021-01-22 07:09] #42 closed

[2021-01-22 11:59] elitan opened #49 "Add user claims"
Be able to specify custom user claims from the `users` table in the JWT token.

[2021-02-03 07:56] elitan opened #52 "More env vars"
add:

[code]

These values for these env vars should be synced during `nhost init`.

[2021-02-03 09:14] elitan opened #53 "Add roles from some auth.* tables on nhost init"
[code]

[2021-02-08 15:52] elitan opened #55 "Scan `nhost/config.yaml` before starting"
To give a better error message if any data is missing. Ex `minio_port` that was introduced in v0.2.0.

[2021-02-12 07:41] elitan opened #56 "Loading feedback on `nhost dev`"
`nhost dev` can take a while to get started. It would be great with some kind of feedback on what's happening during bootup.

[2021-02-12 08:11] elitan commented on #13
https://github.com/nhost/cli/pull/47

[2021-02-12 08:11] #13 closed

[2021-02-12 10:56] elitan opened #58 "Watch nhost/config.yaml for changes for instant reloads"
https://nodejs.org/docs/latest/api/fs.html#fs_fs_unwatchfile_filename_listener

[2021-02-12 11:45] elitan opened #59 "Generate docker-compose.yaml from js object instead of string templating."
Will allow for easier management with if/else statements etc.

[2021-02-19 10:00] elitan opened #60 "`nhost dev` fails if project is initiated but no .nhost folder exists."
## Reproduce:

`nhost init`
remove `.nhost`.
`nhost dev`.

## Fix

`nhost dev` should first make sure the `.nhost` exists. If `.nhost` does not exists, create it.

[2021-02-19 10:25] Svarto opened #61 "`nhost dev` fails on Linux likely due to permission issues with .nhost/db_data & minio folders"
Run `nhost dev` on a Linux machine and check the permissions inside .nhost folder:
- db_data -> systemd-coredump:root
- minio -> root:root

This keeps these folders from being read / loaded on `nhost dev` and krasches the cli with the error message:
[code]

[2021-02-19 10:29] jiftuq commented on #18
What should I do if I use Windows for migrations and metadata?

[2021-02-19 14:53] Svarto commented on #61
Can confirm that running `sudo chown svarto:svarto -R .nhost/` before `nhost dev` successfully starts the local dev environment.

[2021-02-20 06:20] Svarto commented on #48
For anyone coming after me, even on MacOS Docker actually exposes the ports correctly and if Mac Firewall is off the services are accessible from the local network (i.e. so that Expo Go can point to the local dev environment from a physical device).

For Expo, you can set the URLs as below, this makes the production builds point to the nhost cloud (you need to insert your URL here), the physical d

[2021-02-20 06:22] Svarto commented on #48
@nunopato @elitan this could benefit from being added to the Nhost docs for future Expo users. Closing the issue here for now though as it is solved.

[2021-02-20 06:22] #48 closed

[2021-02-20 09:26] elitan commented on #48
Could you open an issue for that at https://github.com/nhost/docs ?

[2021-02-28 07:03] Svarto opened #62 "local .env.development is not updated when adding new variables in nhost console"
The local environment does not update or pull the new environment variables if already set up when the environment variable is added in the nhost console.

Trying to delete the .env.development to force a refresh on `nhost dev` makes the command not work as it can't find .env.development.

Would be great if `nhost dev` pulls the latest environment variables from nhost cloud on start, and deletes i

[2021-02-28 13:11] elitan opened #63 "`nhost down` to take down services that was not properly shut down"
`nhost down` should stop docker services that might still be up after a ctrl+c.

Something like:

[code]

[2021-03-06 11:16] nomocas commented on #49
+1. Top priority.

[2021-03-06 11:26] nomocas opened #64 "Unix socket timeout on nhost dev. Unable to start locally."
Hello All,

I'm unable to start any local environment.

nhost cli : v0.2.5
OS : macOS BigSur v11.2.1
Node : v12.13.0
hasura cli : v1.3.3

nhost login ok.
nhost init. ok.

nhost dev : failed.

Stack trace :

✖ Nhost is starting...first run takes longer
Error! Command failed: docker-compose -f ./.nhost/docker-compose.yaml up -d --build
[7873] Failed to execute script docker-compose
Traceback (most r

[2021-03-08 15:09] elitan commented on #64
Do you have [Docker](https://docs.docker.com/get-docker/) installed?

[2021-03-08 15:38] elitan commented on #63
Fixed in https://github.com/nhost/cli/pull/65

[2021-03-08 15:38] #63 closed

[2021-03-08 15:50] elitan commented on #56
Would be nice if `nhost dev` could show the progress of each service being started and what has been started and what has not.

[2021-03-08 15:52] elitan commented on #59
Use something like [`js-yaml`](https://www.npmjs.com/package/js-yaml)

[2021-03-08 15:55] elitan commented on #62
I suggest we introduce `nhost env pull` that will:

1. Remove existing env vars in .env.development.
2. pull env vars from the Nhost project and update .env.development

[2021-03-08 16:02] Svarto commented on #62
That makes sense and allows for local testing. It would add a step when collaborators clone a git repository to also run nhost env pull. I would add to what you say and suggest that if .env.development does not yet exist, it automatically pulls the remote version. If it exists, it is only updated with the command you mentioned.

Then it can be added to .gitignore and when collaborators come on boa

[2021-03-08 16:03] elitan commented on #62
Perfect 👍

[2021-03-10 19:52] nomocas commented on #64
Hello,

thanks for your answer.

I've reinstalled docker, after trying different things, and it's working now.

No idea what was happening.

Thanks again... ;)

[2021-03-10 19:52] #64 closed

[2021-03-10 20:06] elitan commented on #64
Glad you got it to work! :)

[2021-03-10 20:16] elitan commented on #49
I've added the details here on how to add custom permission variables in our documentation: https://docs.nhost.io/cli/dev#configuration

This is what I wrote:

------

### Permission variables

To add permission variables to the JWT token set `JWT_CUSTOM_FIELDS` in `.env.development`.

Example: if every user has a `company_id` column that should be used as a permission variable in the JWT token (`

[2021-03-10 20:16] #49 closed

[2021-03-12 10:19] #43 closed

[2021-03-13 07:57] elitan commented on #44
close in favor of https://github.com/nhost/cli/issues/53

[2021-03-13 07:57] #44 closed

[2021-03-13 15:33] elitan commented on #46
custom functions are inserted in first init migrations before all schemas which should be OK.

[2021-03-13 15:33] #46 closed

[2021-03-13 16:27] elitan commented on #52
They are now initiated on `nhost init`.

[2021-03-13 16:27] #52 closed

[2021-03-16 09:12] elitan opened #69 "Add README.md for .nhost"
Explain what the .nhsot is for, and if it should be added to git (it should not).

[2021-03-16 09:34] elitan opened #70 "`nhost link`"
Link existing project to a Nhost project.

Create: `./nhost/nhost.yaml` and create+sync`.env.development`

Use case:

- Someone has initiated a Nhost project and committed it to Git.
- You are cloning the repo
- Since `.nhost/` is ignored there's no information about the Nhost project in the git repo.

[2021-03-17 13:27] #60 closed

[2021-03-17 18:40] Tug opened #71 "Init a new project without connecting to NHost"
Currently when you run `nhost init` you get the following message:

If you do login but don't have a project created you will see:

It would be awesome if we could run `nhost init` and `nhost dev` locally without even signing in with an nhost account.
Only `deploy` could require an nhost connection (`nhost login`).

[2021-03-18 08:33] #53 closed

[2021-03-18 08:39] #62 closed

[2021-03-19 08:03] elitan commented on #70
fixed in https://github.com/nhost/cli/pull/72

[2021-03-19 08:03] #70 closed

[2021-03-19 16:10] elitan commented on #61
I just downloaded a fresh instance of Ubuntu Desktop to VirtualBox and tried this.

Everything worked perfectly without having to change any permissions.

I do have the same permissions as you in the `.nhost/` folder but `nhost dev` and generating new database migrations works.

@Svarto Could you try this again with the latest `nhost` with: `npm install -g nhost@next`? I don't expect the behavior

[2021-03-25 13:33] mwarger opened #76 "Specifying custom image for hasura on M1 mac devices"
The current version of the hasura engine does not work on M1 Macs.  However, this image does: fedormelexin/graphql-engine-arm64:1.3.3.  I would like to be able to specify my own engine for running hasura in the docker-compose file, but it's deleted whenever the nhost dev command is stopped.  It would be nice if there was a config variable where we could override the docker image tag if needed.

[2021-03-25 13:40] elitan commented on #76
Maybe we can use [`os.arch()`](https://nodejs.org/api/os.html#os_os_arch) to determine the CPU type and adjust the image based on that?

[code]

I would presume you get `arm` there instead of `x64` if you're on M1?

[2021-03-25 14:36] mwarger commented on #76
I get x64 back with that.

I tried uname and arch via `exec` as well without luck.  My suspicion is that it's getting that since it's running with node?

[2021-03-25 14:47] elitan commented on #76
I'll test on a Raspberry later. Can you test with `process.arch` [link](https://nodejs.org/api/process.html#process_process_arch) if you're quicker than me?

[2021-03-25 15:02] mwarger commented on #76
That also returns x64.  I also ran this on node v15 which should be running natively on M1 and also returns x64.

[2021-03-25 18:23] mwarger commented on #76
Leaving this here for later: https://stackoverflow.com/questions/65346260/get-real-architecture-of-m1-mac-regardless-of-rosetta

[2021-03-25 19:46] mwarger commented on #76
@elitan Please see the PR...  local environment up and working.  If you want any changes let me know.

![image](https://user-images.githubusercontent.com/686823/112534191-c5db2f00-8d78-11eb-89ec-2747e231602a.png)

[2021-03-25 20:11] mwarger commented on #76
Additionally, this is likely only an issue until hasura updates their app to support M1 (issue here: https://github.com/hasura/graphql-engine/issues/6337).

[2021-03-26 13:08] #76 closed

[2021-03-26 13:16] #59 closed

[2021-03-26 13:18] elitan commented on #4
We now check for ports on `nhost dev`.

[2021-03-26 13:18] #4 closed

[2021-03-28 23:37] elitan opened #79 "Escape admin secret"
Ex: `nhost init` fails if admin secret contains special chars, ex: `$`.

[2021-03-30 11:30] alveshelio opened #80 "How to make Nhost CLI work in a CI"
Right now Nhost CLI. can't run in GitHub actions.

This is my 2e2tests.yml workflow file:
[code]

In order to test and debug my workflows locally I'm using a tool called [act](https://github.com/nektos/act)
When running this this workflow locally it fails because Nhost CLI isn't able to create the necessary ressources, these are the errors I get

[Cypress Test/cypress-test    ] ⭐  Run nhost dev
|

[2021-03-30 17:17] alveshelio commented on #61
Could this be the same issue we are getting trying to run Nhost in the CI, the container is using a linux distribution so I'm wondering this these two issues are somehow related.

[2021-04-05 11:45] elitan opened #81 "Create custom folder on init"
Create storage-rules and email templates. Same as: https://github.com/nhost/hasura-backend-plus/tree/master/custom

[2021-04-19 20:46] TaylorFacen opened #82 "API isn't reloading on code changes"
version: nhost/0.4.1 darwin-x64 node-v12.18.3

Whenever I make a code change to a file in my project's `/api` folder, I need to shut down and reload the local environment in order for changes to take effect.

[2021-04-26 14:45] jmarbutt commented on #61
This is also happening when running from WSL2 Ubunto 20. 04 on windows.

[2021-04-26 14:50] elitan commented on #61
possible create the `.nhost/minio` folder if it does not exists, before starting Nhost

[code]

[2021-04-26 17:22] elitan commented on #82
Fixed in https://github.com/nhost/cli/pull/75/commits/51c874f1a5d576360c03f3a0c2670729bc0e0d49

[2021-04-26 17:22] #82 closed

[2021-05-04 22:04] FraserHamilton opened #84 "TypeError: Cannot read property 'toString' of undefined"
Recently updated to the most recent host CLI version and started receiving the error shown below.

![Screenshot_2021-05-04_22-59-05](https://user-images.githubusercontent.com/23426646/117075493-73504380-ad24-11eb-8a88-58be2ac4d394.png)

I'm developing on Kali Linux and this appears to have been introduced in version 0.4.1-0 as 0.4.0 works perfectly. Likely an issue only for those on Linux as no on

[2021-05-05 11:55] moklick opened #85 "`nhost dev` fails on MacBook M1"
Hey,

when I try to run `nhost dev` I got the following error:

[code]

All dependencies are installed.

`which docker` returns `/usr/local/bin/docker`
`which docker-compose` returns `/usr/local/bin/docker-compose`
`which hasura` returns `./node_modules/.bin/hasura`

[2021-05-05 12:01] elitan commented on #85
Can you test the solution proposed here: https://github.com/nhost/cli/pull/77 ?

[2021-05-05 12:37] moklick commented on #85
The error still occurs:

[code]

[2021-05-05 12:38] elitan commented on #85
I think it's related to this:

https://github.com/nhost/api-handler/issues/7

[2021-05-05 12:41] moklick commented on #85
Ok, that sounds great! I will watch this issue. Thanks for the fast reply.

[2021-05-06 08:13] FraserHamilton commented on #84
Turns out this was an issue with using an older .env.development file in a new version of the CLI.

[2021-05-06 08:13] #84 closed

[2021-05-07 10:00] elitan commented on #85
@moklick Can you try `npm install -g nhost@next` with this latest version and see if that works?

I don't have an M1 yet :( Waiting for the 16"! :D

[2021-05-07 13:09] moklick commented on #85
oh wow it works :) This is really nice! Thanks!

[2021-05-10 05:55] elitan commented on #85
Fixed in 353a59e5bd02494bd6d1020f4c34bc464ade0955

[2021-05-10 05:55] #85 closed

[2021-05-14 19:59] ArieJones opened #88 "Seeding the PostgreSQL Database"
Would be awesome to support the seeding of the database through the CLI.

Some possible solutions could be:

- Using a SQL file to just run agains the database ... for those that know how to write the SQL commands
- Using csv files via COPY command ...might be messy depending on relationships
- Using something more sophisticated like http://knexjs.org/   .. which would require the dev to write som

[2021-05-15 01:00] jmarbutt commented on #88
@ArieJones do you think this would be something that would be used to seed in development or production? I really like this. Thanks for creating an issue.

[2021-05-15 01:18] ArieJones commented on #88
I think it would primarily be for development .. at least for the first iteration.

My usual dev practice is to use a ef core seeder routine that runs in development that I can have run when I spin up a project to randomly create several thousand records..... it tends to keep me a little more honest in the modeling of the backend to match expectations on the front end. So I would love to be able t

[2021-05-15 07:54] elitan commented on #88
Great suggestion. I'm thinking the seed data should be applied automatically on the first `nhost dev` and automatically on our future staging environments when you're doing a pull request. How does that sound?

[2021-05-15 12:42] ArieJones commented on #88
Yeah that sounds great!

[2021-05-15 16:45] jmarbutt commented on #88
I love this idea!

[2021-05-16 05:10] elitan commented on #88
Nice to hear!

[2021-06-06 11:13] yashank09 commented on #61
I installed Nhost on an Arch system and faced a similar issue with docker-compose. The error is not with `nhost-cli`, but with `docker` permission itself. Try adding docker to your usergroup which will enable docker to run without root -

`sudo groupadd docker` to add docker to user-group
`sudo usermod -aG docker $USER` to enable the current user to access docker without root
`sudo systemctl resta

[2021-06-06 11:29] yashank09 commented on #56
Hi @elitan ,
We already get feedback for things like `Applying Migrations`, `Opening Hasura Console` etc., so would we like a more finer response than this? If so, what phases in the process should we notify about?

[2021-06-07 05:07] elitan commented on #56
I'm thinking about when the docker containers start. Maybe we could indicate what containers have started and which one has not (yet) started.

[2021-06-07 09:53] yashank09 commented on #56
@elitan I've added a spinner for executions like 'Validating docker-compose config', 'Initializing GraphQL engine' etc., and have found a docker command that returns `true` if a container is running and throws an `error` when it's not -
`docker inspect --format '{{json .State.Running}}' nhost_postgres`

I'm thinking of an efficient way to check this till all containers are running successfully. An

[2021-06-13 21:51] akd-io commented on #29
For future developers running into this issue, I was able to solve it by upgrading to Node 14.

[2021-06-13 22:12] akd-io commented on #18
I managed to get set up with [Ubuntu](https://www.microsoft.com/store/productId/9NBLGGH4MSV6) from the Microsoft Store.

Full setup steps:
- Install [Ubuntu](https://www.microsoft.com/store/productId/9NBLGGH4MSV6) from the Microsoft Store.
- Locate project folder in `/mnt/c`
- Run `export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin` to exclude `/mnt/c` binaries. Reasoning can

[2021-06-23 00:48] henry-huynh-3508 commented on #18
any updates on this issue?

[2021-07-14 13:00] MarcelloTheArcane commented on #18
@henry-huynh-3508 Can you use WSL2?

[2021-07-14 13:05] MarcelloTheArcane opened #97 "Error message is hard to read"
Hello!

I'm trying out the Nhost CLI, and I've bumped into some errors.

As you can see from the screenshot, they are all escaped, and are therefore hard to read.

![image](https://user-images.githubusercontent.com/21159570/125626799-d9a9becb-bb07-4376-b9c7-daa07621d060.png)

I copied the text into a browser console and it looks nicer:

![image](https://user-images.githubusercontent.com/21159570/1

[2021-07-14 13:10] MarcelloTheArcane opened #98 "`nhost/metadata/tables.yaml` doesn't update when deleted from origin"
I ran into some errors (#97) and so I deleted all the tables that I'd made.

However, when running `nhost dev` again, the same error message shows up.

I've found `tables.yaml` in the `nhost/metadata` folder which still shows the old tables.

Is there a way to re-fetch the tables from the origin?

[2021-07-26 08:51] icybergenome commented on #76
@elitan **nhost/hasura-backend-plus** and **nhost_nhost-api** are not Apple M1 chip supported. It is causing failure in API and initial migration scripts.
![image](https://user-images.githubusercontent.com/12095716/126961221-e2f961f8-e167-4146-b8c9-1857dbb7bcc3.png)

[2021-07-26 09:01] elitan commented on #76
Are you sure this is related to M1? What's in the error logs?

[2021-07-26 09:07] icybergenome commented on #76
@elitan This is the error when I try to run `nhost dev`
![image](https://user-images.githubusercontent.com/12095716/126963597-b5351a39-56e7-476e-8a6d-27749f80d3c0.png)

**docker: nhost-hbp**:
[code]

[2021-07-26 09:09] elitan commented on #76
Do you have a docker-compose file so I could try to reproduce the issue on my end?

[2021-07-26 09:10] icybergenome commented on #76
@elitan I used `nhost dev` command to run the container. Here is my config.yaml file:
[code]

[2021-07-28 07:35] icybergenome commented on #76
@elitan any idea? As we are still stuck in this issue and we had to use live url and its really effecting our productivity.

[2021-07-28 08:04] elitan commented on #76
Sorry for being a bit slow here.

it looks like it complains about the storage rules.

Can you check your `nhost/custom/storage-rules` folder of your repository? Ideally, there should be a file `rules.yaml` inside that folder.

You can add the following content for `rules.yaml` to get started if it does not exist: https://github.com/nhost/hasura-backend-plus/blob/master/custom/storage-rules/rules.

[2021-07-28 09:12] icybergenome commented on #76
@elitan Thanks for responding. I did place `rules.yaml` it removed the warning however rest of the error remains as:
[code]

Major error is `UnhandledPromiseRejectionWarning: Error: connect ECONNREFUSED 127.0.0.1:5432` which is postgresql instance is not accessible to nhost network, although its running.
![image](https://user-images.githubusercontent.com/12095716/127296616-5970a46f-74a9-4be8-a2d0-

[2021-07-28 09:49] icybergenome commented on #76
@elitan Btw inside `.nhost` directory following docker-compose file was generated:
[code]

[2021-07-28 11:55] icybergenome commented on #76
@elitan Can you please send me a `docker-compose` file which works?

[2021-07-28 12:55] icybergenome commented on #76
https://github.com/hasura/graphql-engine/issues/6337
As per hasura issues, the M1 chip issue is still open as of now, However `fedormelexin/graphql-engine-arm64` is still recommended. But in case of `nhost dev` it appends the wrong version v1.3.3 with it. So inside `.nhost/docker-compose.yaml ` I updated the version to `fedormelexin/graphql-engine-arm64`. Also postgres image: `nhost/postgres` shou

[2021-07-30 20:43] joshmedeski opened #99 "Mailhog Support"
I think adding Mailhog support would be a nice addition for local development.

[2021-08-09 10:55] jiftuq commented on #18
@akd-io Thanks man

[2021-08-09 15:39] jiftuq commented on #18
I keep getting this error:
 Email Confirmed! You are now logged in.
Error!
Could not read auth file. Run `nhost login` first.
    Error: EACCES: permission denied, open '/home/chris/.nhost/auth.json.2814139651'
    Code: EACCES

Even though Im login

[2021-09-13 07:34] MarcelloTheArcane opened #101 "Existing project schemata not pulled on initialisation"
At least, I think that's what's happening.

I have an existing project on Nhost that I'm trying to link to with `nhost dev`, but I get the following error.  It seems like it's not recognising the existing tables I have set up (which are in another schema).

Error message:

[code]

Pretty error JSON:
[code]

[2021-10-21 17:55] mrinalwahal commented on #99
We've officially added mailhog for local email testing.

It's currently under beta testing.

Will be out with Nhost v2.

I'm closing this issue.

[2021-10-21 17:55] #99 closed

[2021-10-21 18:02] mrinalwahal commented on #56
In the new CLI, `nhost dev` shows a counter for services that have completed their healthchecks.

And subsequently display more informational logs.

For more verbose details, users can run the new CLI with `nhost dev --debug`.

I'm closing this issue.

[2021-10-21 18:03] mrinalwahal commented on #55
The design philosophy of the new CLI takes care of this problem.

I'm closing this issue.

[2021-10-21 18:03] #55 closed

[2021-10-21 18:06] mrinalwahal commented on #58
This isn't top priority.

Anyway the design philosophy of new CLI (>= v0.5.0), handles this issue much better.

I'm closing this.

[2021-10-21 18:06] #58 closed

[2021-10-23 07:08] elitan opened #106 ".gitignore is being overwriten"
After doing `nhost init` everything in my local `.gitignore` was removed and overwritten with lines specific for nhost only.

Instead, the cli should append to the existing `.gitignore` if the `.gitignore` file already exists.

[2021-10-23 22:47] mrinalwahal opened #107 "Add passwordless login (using github)"

[2021-10-23 22:55] mrinalwahal opened #108 "Perform `git checkout && git pull` by storing commit hash"
In case the user performs a `git checkout` followed by an immediate `git pull`, handle this problem
by storing the commit hash right before re-starting the environment, when the first checkout is detected. Then perform commit based changes in a pipeline.

[2021-10-24 04:04] mrinalwahal opened #109 "Replace Mailhog with custom SMTP server"
I don't like docker containers. They are slow. So, no point in adding an additional mailhog container when we can simply run a custom SMTP server inside our CLI for email testing.

Using this library: https://github.com/mhale/smtpd#example

Only problem is, having a UI to present received emails on. But initially for testing, we can spawn new browser tabs to show received HTML emails.

[2021-10-24 22:11] mrinalwahal opened #110 "Add `.functionsignore` File"
I'm considering adding `.functionsignore` file inside `functions/` directory, to allow users to exclude those files from being mapped to routes which aren't exporting any handlers (therefore, cannot be served), but are also required for storing supporting code. Like custom utility packages.

What do you guys think?

It's easy for me to do it locally, but how would it look in production, on the new

[2021-10-24 22:11] mrinalwahal opened #111 "Duplicate as #110: Add `.functionsignore` File"
I'm considering adding `.functionsignore` file inside `functions/` directory, to allow users to exclude those files from being mapped to routes which aren't exporting any handlers (therefore, cannot be served), but are also required for storing supporting code. Like custom utility packages.

What do you guys think?

It's easy for me to do it locally, but how would it look in production, on the new

[2021-10-24 22:12] #111 closed, assigned to mrinalwahal, elephant3

[2021-10-26 11:05] #106 closed, assigned to mrinalwahal

[2021-10-26 16:01] mrinalwahal opened #112 "Add Hasura Event Invocation Logs to `nhost logs`"
The Hasura event triggers are stored inside `hdb_catalog.event_invocation_logs` table.

They should be added to `nhost logs` command.

Similarly, all other event logs, including cron jobs and scheduled invocation logs, as well as actions logs must be added to the same command.

[2021-10-27 04:07] mrinalwahal opened #114 "Replace `express-js` with a custom HTTP server, for NodeJS functions"
The local functions server currently has to spawn a fresh `express-js` server to run NodeJS functions. We have to replace this extra dependency with a custom HTTP server to solve the same problem.

The new HTTP server must be able to parse the response structures returned by functions in following format:

[code]

[2021-10-27 04:09] #110 closed, assigned to elitan, mrinalwahal, elephant3

[2021-10-28 06:44] mrinalwahal opened #115 "Add `deployments` command"
Users should be able to see the live status of their builds/deployments in production using `nhost deployments` command, without coming out of their terminal, and opening a browser window.

The command should also show the production URLs on which the app is deployed after every deployment.

[2021-10-29 02:59] mrinalwahal opened #116 "Build `nhost start` for Self-Hosted Environments"
The CLI, as of `v0.5.6` only works with locally spawned services (Hasura, DB, SMTP and Buckets) by default. This doesn't suit well for those users who want to self-host the Nhost stack for custom production.

We can solve this by adding remote credentials (for self-hosted services) in `nhost/config.yaml` file, and launching default services (Hasura, Functions, Auth & Storage) using the same creden

[2021-10-29 16:37] jmarbutt opened #117 "Running nhost fails to start"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new directory `nhost-test`
2. cd `nhost-test
3. Run `nhost`
4. See attached error log [nhost-d.log](https://github.com/nhost/cli/files/7443692/nhost-d.log)

**Expected behavior**
Should Run without failure

**Desktop (please complete the following information):**
 -

[2021-10-31 20:32] jmarbutt opened #118 "When using UI Templates, prompt to run npm install"
**Is your feature request related to a problem? Please describe.**
When running the `nhost` and selecting `Y` to install a UI template, automatically run `npm install`

**Describe the solution you'd like**
This is minor but prompting or automatically running npm install for the `web` folder.

[2021-10-31 20:35] jmarbutt opened #119 "When using Web Templates, Prompt the desired Directory."
**Describe the solution you'd like**
After asking "Do you want to install Web or Front-end templates", prompt where you would like the directory. This could default to `web`

**Additional context**
When comparing this flow to other CLIs out there, I think this is the common pattern.

[2021-10-31 20:37] jmarbutt opened #120 "Automatically setup package.json for Functions"
**Describe the solution you'd like**
Automatically setup `package.json` when saying `Y` to `Do you want to install Web or Front-end templates:` and selecting `Node`. This would make it a little more obvious on the initial setup.

[2021-11-09 08:44] joshua1 opened #122 "onAuthStateChanged function"
using the nhost-js-sdk, when auth.login is called, an object is returned on successful login containing the Session, user, and MFA properties. This should be the same object returned as callback parameter for onAuthStateChanged function, as we apply the same logic in both cases (update user details in-store). Currently onAuthStateChange only returning a boolean value is only useful when that value

[2021-11-09 08:45] #122 closed

[2021-11-09 08:45] joshua1 commented on #122
wrong project

[2021-11-18 18:33] mrinalwahal commented on #117
Since this was resolved on your another machine (as per what you'd informed me), I'm closing this issue because we couldn't replicate it on our side.

Please feel free to re-open if you encounter the same problem again.

[2021-11-18 18:33] #117 closed

[2021-11-24 03:06] c-nv-s opened #124 "allow to set listening address for nhost dev/start"
**Is your feature request related to a problem? Please describe.**
when running ``nhost dev`` the resulting listening addresses that are mapped from the host to the docker containers are all "localhost".
This is perfect if the docker host is the same machine that the development is being done on.
However some users run their docker host within a virtual machine, or some other system container tech

[2021-11-24 03:08] c-nv-s commented on #124
I think this would also be related to #116

[2021-11-27 09:00] beepsoft opened #125 "Allow setting Hasura console port in nhost dev"
**Is your feature request related to a problem? Please describe.**
When I start a new nhost installation from scratch (`nhos dev`) I would like to use the Hasura console I used before, because it contains some queries/mutations that I would like to test in my fresh nhost as well. For this nhost should start the console on the same port as before. However when starting a fresh nhost it select a ran

[2021-12-02 09:56] mrinalwahal commented on #125
With CLI >= `v0.5.9` we are routing the Hasura Console to port `:1337` by default. Regardless of whichever random port it is launched on.

Please see if this fixes your problem.

[2021-12-02 10:00] mrinalwahal commented on #120
Users may not always want to run `npm init` to setup `package.json`. For example, during CI/CD or deployment pipelines.

We were trying to avoid launching commands on user's behalf as much as possible.

[2021-12-03 08:13] sangdth opened #128 "After upgrade, my data is wiped out"
**Describe the bug**
After upgrading the cli, I can not login to my account, I went to check the database, realised all my data is gone! I don't know how to reproduce this one but pretty sure it's. I didn't change the branch.

**To Reproduce**
Steps to reproduce the behavior:
1. I was on version 0.5.8
2. Upgrade to 0.5.10
3. Go back to hasura database. All deleted.
4. All the metadata, columns, ta

[2021-12-03 10:04] elitan opened #129 "`nhost -d` does not check port availability at the start"
**Describe the bug**
`nhost -d` does not check port availability at the start.

**To Reproduce**

1. have something running on port 1337
2. `nhost dev -d` - this will error saying the port 1337 is already in use
3. `nhost -d` - this will not error at first, instead this will start the Nhost backend locally but in the end show the following error:

[code]

However, the backend is still running but

[2021-12-07 17:16] sangdth opened #130 "GraphQL requests does not work from Apollo on React Native"
Current I have issue while using `@nhost/react-auth` and `@nhost/react-apollo` in an Expo (React Native) project, still not sure but based on the error message, I give it a try here.

The wrapper:
[code]

The nhost:
[code]

The query:
[code]

The implementation:
[code]
The issue:
[code]
<img width="1157" alt="Screenshot 2021-12-07 at 19 09 28" src="https://user-images.githubusercontent.com/1083478

[2021-12-08 08:32] elitan commented on #130
We've confirmed that this issue is only present when using the CLI.

When making the same GraphQL request to Nhost directly (`*.nhost.run/v1/graphql`) the GraphQL request works.

[2021-12-08 08:33] sangdth commented on #130
It works with remote graphql url:

<img width="959" alt="Screenshot 2021-12-08 at 10 30 26" src="https://user-images.githubusercontent.com/1083478/145175294-d441989a-44e4-49b9-847d-9426dba67ea9.png">

[2021-12-08 09:11] elitan commented on #130
https://github.com/nhost/cli/blob/0c5700a1ad059ec47d2e21e5fdf79fc9b5e90926/proxy/proxy.go#L76

Possibly related?

[2021-12-09 21:01] mrinalwahal commented on #130
I'm trying to reproduce the error on my end. I'll have a look and update you guys.

Thanks for opening the issue!

[2021-12-20 02:37] mrinalwahal commented on #129
Fixed and will be out in > `v0.5.11`.

[2021-12-20 02:37] #129 closed

[2021-12-21 14:33] regalstreak commented on #107
@mrinalwahal any update on this? Or is there a way to hack around and log in to cli for now using an auth token?

[2021-12-21 14:44] mrinalwahal commented on #107
We are working on allowing users who signed-up using social auth (GitHub) to save their passwords in console/dashboard. Then, you can simply login from the CLI using email and password.

This fix is being done on console side. Not CLI side.

It will be out soon. Hopefully within a week or two :)

[2021-12-21 17:23] elitan commented on #107
This should go live within the next few hours. We have this working in staging.

[2021-12-21 19:03] mrinalwahal commented on #130
This has been fixed in `v0.5.11` onward.

[2021-12-21 19:03] #130 closed

[2021-12-21 19:34] seyaobey-dev opened #132 "command "init --remote" fails with message "Failed to fetch user data""
**Describe the bug**
I'm using `nhost v2`. I have created a remote repository and now I'm trying to spin up a local repository and link it with the remote. When I run `nhost init --remote`, I get `Failed to fetch user data` when I supply my email and password (correct values).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a remote repository
2. Run `nhost init --remote`

**Expected

[2021-12-22 09:51] elitan opened #133 "Mailhog web ui port is incorrect"
**Describe the bug**

1. After starting `nhost dev` the CLI outputs xxx. But the URL does not work.
2. The same URL is outputted twice but it should only be outputted once.

**To Reproduce**
1. `nhost dev`
2. Click on the link in: `Emails will be sent to http://localhost:1025`

**Expected behavior**
1. Mailhog web UI should work
2. The Mailhog web URL should only be outputted once

**Screenshots**

[2021-12-22 09:55] elitan commented on #133
After three restarts the CLI gave me the correct URL:

![image](https://user-images.githubusercontent.com/331818/147073681-60b6518d-852b-44f3-bad7-369c17cb48cd.png)

[2021-12-31 11:13] spkprav commented on #132
Same here, I get `Failed to pull migrations from remote` instead.

[2022-01-02 23:27] nunopato opened #135 "testing"

[2022-01-02 23:34] #135 closed

[2022-01-02 23:54] nunopato opened #136 "fefefewffewfwe"

[2022-01-02 23:54] #136 closed

[2022-01-04 13:24] mrinalwahal commented on #98
We have released Nhost v2 since this issue was opened. Please try the latest infra, and if you still face new issues, feel free to open an issue.

[2022-01-04 13:24] #98 closed

[2022-01-04 13:25] mrinalwahal commented on #101
We have released Nhost v2 since this issue was opened. Please try the latest infra, and if you still face new issues, feel free to open an issue.

[2022-01-04 13:26] mrinalwahal commented on #107
We have already released a fix for this. Users who signed up on Nhost using social auth (GitHub, etc.) can save their passwords in their Nhost dashboards, and use them to login from the CLI.

I'm closing this issue.

[2022-01-04 13:26] #107 closed

[2022-01-04 13:27] mrinalwahal commented on #118
We had carefully taken a decision to not run any third-party commands (like NPM) on behalf of users from our CLI. Both because of security, and to avoid altering/modifying user's app's configuration unintentionally.

I'm closing this issue.

[2022-01-04 13:27] #118 closed

[2022-01-04 13:28] mrinalwahal commented on #128
Can you please confirm whether you are still facing this issue? If not, can you please close this issue?

[2022-01-04 13:29] mrinalwahal commented on #132
Can you please run `nhost init --remote --debug` and confirm what is the exact point at which the CLI is throwing these errors? The debug flag should show you a log trace.

[2022-01-04 13:34] mrinalwahal commented on #119
We tend to avoid inducing too many prompts to make the app initialization process faster :)

If we happen to introduce a small change in `nhost/config.yaml` to specify the web/front-end directory, we'll let you know. But I'm closing this issue for now.

Also, it's better to stick to the standards and formats decided by Nhost for how the app should be arranged in the filesystem as we go forward int

[2022-01-04 13:34] #119 closed

[2022-01-04 13:46] #120 closed

[2022-01-04 17:58] #133 closed

[2022-01-04 18:25] mrinalwahal commented on #133
Fixed in `v0.6`.

[2022-01-04 18:28] mrinalwahal commented on #116
We've added the capability of outsourcing, or connecting to remote services, in CLI `v0.6`.

Services that can be outsourced: postgres, minio/S3 and SMTP server.

I'll shortly post here the link to a help guide on how to use the new CLI capabilities for self-hosting your own Nhost environment.

[2022-01-04 18:30] mrinalwahal commented on #109
I'm closing this issue, because it's not high priority for us right now. I'll re-open it if we start working on this again.

[2022-01-04 18:30] #109 closed

[2022-01-04 19:22] sangdth commented on #128
It does not happen again so I close it now. I will open it later if I face it again. Thanks.

[2022-01-04 19:22] #128 closed

[2022-01-09 10:52] mirko314 opened #138 "Local Functions unknown command: node"
**Describe the bug**
I'm trying to use nhost dev and run a cloud function. I am using asdf as nodejs package manager.
The whole nhost development system is stuck when browsing to the function locally, and the page in the browser is loading indefinitely:

[code]

`nhost dev -d` output:

[code]

I can execute node -v in all dirs (outside of the project) and it is the correct version.

**Desktop (ple

[2022-01-10 20:01] artistic-differences commented on #132
Not working for me either. I have created an account using the github login integration.
Despite this when I try to login using: `nhost login` (or any method that requires auth)
The command asks me for my email and password (account does not have a password)

[2022-01-10 23:14] mrinalwahal commented on #132
You can save your password on Nhost dashboard. And then use that one to login.

[2022-01-10 23:15] mrinalwahal commented on #132
Since, there aren't any responses and this does seems potentially a problem from user's end, I'm closing this issue.

We can open it again if anyone can't find their way around it.

[2022-01-10 23:15] #132 closed

[2022-01-11 06:44] sangdth commented on #132
Sometimes I got this as well. Do we have a wait to bring you log file or sth similar?

[2022-01-11 09:10] artistic-differences commented on #132
Hi Sang,
Thanks for the prompt response. There is indeed the option to save a password against my account and I tried that several times last night. First whilst logged in and then after logout and login. On each occasion there was an invalid access token error.
Thanks, Ross  
    On Tuesday, 11 January 2022, 06:44:48 GMT, Sang Dang ***@***.***> wrote:

Sometimes I got this as well. Do we have a w

[2022-01-17 11:17] mrinalwahal commented on #138
Do you have Node and NPM installed?

Please install them and try again.

[2022-01-17 11:46] elitan commented on #138
It seems like he do give this:

And `npm` comes bundled with Node. So I would guess he has both Node.js and NPM installed.

[2022-01-17 23:22] mirko314 commented on #138
Yes, using asdf thank you will look into it

[2022-01-25 17:10] mrinalwahal commented on #138
I'm closing this issue. Please feel free to open it if you can't solve it, @mirko314!

[2022-01-25 17:10] #138 closed

[2022-01-25 17:23] Herohtar opened #139 "Podman support"
**Is your feature request related to a problem? Please describe.**
I am using Podman and have `podman-docker` installed and also have configured the `DOCKER_HOST` environment variable to point to the Podman socket. By doing this I am able to run `docker-compose` without issue; however, when I try to use the Nhost CLI I get the following error message:
[code]

**Describe the solution you'd like**
I

[2022-01-26 23:41] shyndman opened #140 "config.yaml's MFA settings are not named the same way in hasura-auth"
The config.yaml generated by the CLI puts MFA settings under `auth.user.mfa`, resulting in `AUTH_USER_MFA_ENABLED` and `AUTH_USER_MFA_ISSUER` env variables set in the auth container.

https://github.com/nhost/cli/blob/2b01ba4c326c766b939b971ac20accc24f86e60c/nhost/nhost.go#L1144-L1152

However, the code running in the auth container (`hasura-auth`) is looking for variables named `AUTH_MFA_ENABLED`

[2022-01-26 23:51] shyndman commented on #140
The `auth.token` section looks like it might be inconsistent between projects as well. There could be others.

| nhost/cli                       | nhost/hasura-auth                |
| ------------------------------- | -------------------------------- |
| `AUTH_TOKEN_ACCESS_EXPIRES_IN`  | `AUTH_ACCESS_TOKEN_EXPIRES_IN`   |
| `AUTH_TOKEN_REFRESH_EXPIRES_IN` | `AUTH_REFRESH_TOKEN_EXPIRES_IN`  |

[2022-01-27 00:15] shyndman opened #141 "Variables defined in .env.development not set in nhost_auth and nhost_storage containers"
I wrote an `.env.development` that looks like this:

[code]

Then I ran `nhost dev`, and dumped the `nhost_auth` and `nhost_storage` containers' environments — `MY_SPECIAL_ENV_VAR` was not defined in either container.

But it should be, right?

(Oddly `MY_SPECIAL_ENV_VAR` _was_ defined in the `nhost_hasura` container's environment 🤷 )

[2022-01-27 00:21] shyndman opened #142 "nhost dev server panicking when requesting /v1/functions/"
**Describe the bug**
I'm running the dev server locally, and just to kick the tires, visited `http://localhost:1337/v1/functions/` in my browser.

The following panic was observed:

[code]

NOTE: This project does not have any functions defined.

[2022-01-27 02:43] mrinalwahal commented on #140
The `config.yaml` file is used for local development.

The environment variables are generated recursively. So, if you want to fix this manually on your end for now, just arrange the variable `AUTH_MFA_ENABLED` in the following manner:

[code]

Similarly you can re-arrange the variables to fix this on your end.

Apart from that, we will start looking at this bug internally. Thanks for pointing it

[2022-01-27 02:50] shyndman commented on #140
Thanks!

[2022-01-27 02:52] shyndman commented on #142
This is a result of not having a `functions/` directory.

Might be worth consider scaffolding one up front, the same way you do with the other [`LOCATIONS`](https://github.com/nhost/cli/blob/2b01ba4c326c766b939b971ac20accc24f86e60c/nhost/nhost.go#L48-L56)

[2022-01-27 04:27] shyndman opened #143 "[serverless] Feature request: Support a wider variety of request body content-types"
I was attempting to call a serverless NodeJS function with a `text/plain` content type, and found that the body was failing to make its way to my function. `req.body` was returning `{}`.

Turns out that the function's express server has its middleware configured to limit request bodies to _only_ JSON or form encoding:

https://github.com/nhost/cli/blob/2b01ba4c326c766b939b971ac20accc24f86e60c/func

[2022-01-27 04:29] shyndman commented on #143
Also, I'd be happy to send a PR if need be.

[2022-01-27 06:09] elitan commented on #141
Environment variables will be available in:

- Hasura
- Serverless functions

So I'd say it looks good.

[2022-01-27 06:19] shyndman commented on #141
Ah, I see.

Unless I'm misunderstanding, I believe this documentation will need updating.

https://github.com/nhost/cli/#environment-variables
https://github.com/nhost/cli/wiki/Environment#envdevelopment-file

In both places, it suggests that the env variables will be available in all containers.

[2022-01-27 12:17] mrinalwahal commented on #141
Thanks for pointing out the bug in wiki. We will update it. I'm closing this issue now.

[2022-01-27 12:17] #141 closed

[2022-01-27 12:18] mrinalwahal commented on #142
Yes, this panic only occurs when you don't have any `functions/` dir, but you try calling functions. We are currently fixing this.

[2022-01-27 12:19] mrinalwahal commented on #143
Thanks @shyndman! Please feel free to send a PR, if you can. We will review it.

[2022-01-28 01:18] shyndman opened #144 "[serverless] Dev server throws and fails to shutdown gracefully if function npm dependencies have not been installed"
If `npm install` hasn't been run in the `functions/` directory, the exception below is encountered.

At this point, the dev server will not shutdown with a <kbd>Ctrl</kbd> + <kbd>C</kbd>, and `kill -9` must be used (as you can see below).

[code]

[2022-01-28 07:12] shyndman opened #145 "Feature Request: Add support for live log tailing (like tail -f)"
Sometimes it can be really nice to watch a log file and see new messages as they're coming in.

The alternative right now is to repeatedly run `nhost logs ...`, get a full dump, and find your place again — time consuming.

Live log tailing is a solid quality of life feature, and a DX win.

[2022-01-28 07:23] shyndman opened #146 "Odd leading characters appearing in log output, prevents parsing/formatting"
This is the output from `nhost logs --service=storage`.

Note the leading question marks on each log entry:
[code]

This isn't just cosmetic — I encountered this issue while trying to pipe the logs into https://github.com/brocode/fblog.

[2022-01-28 22:09] appsdevpk opened #147 "Error: Failed to export metadata, when initialising new app from cli"
**Describe the bug**
just completed the installation of git, docker, nodejs and nhost cli on a windows 10 machine. when i tried to init a new app i got the below output

Name of your new app: test app
Name of your new app: test app
Do you want to install frontend templates: y
Do you want to install frontend templates: y
Selected: React-Apollo
Do you want to install functions templates: y
Do you wa

[2022-01-29 16:57] mrinalwahal commented on #147
Please run the command again with `--debug` flag: `nhost --debug`.

The log trace will give you better information about where the CLI is failing. Show the exact error, and also preferably the log trace, and maybe we can help you better.

[2022-01-29 18:23] appsdevpk commented on #147
here it is

Initializing environment

[2022-01-30 14:15] mrinalwahal commented on #147
Aah. So, the Hasura CLI for your Windows OS is not compatible.

Please do the following:

1. Download the Hasura CLI for your OS and architecture.
2. Extract and save the CLI binary as `hasura.exe` in your `$HOME\.nhost`. So, it should look like `$HOME\.nhost\hasura.exe`.
3. Restart the Nhost CLI: `nhost`

Let me know if it works.

[2022-01-30 15:30] Ataraxy commented on #147
I had the same problem and this fixed it.

[2022-01-30 17:50] mrinalwahal commented on #147
Since it has already worked for at least 1 person, with the proposed solution, I'm closing this issue.

If this issue persists with you, @appsdevpk, please re-open this issue.

[2022-01-30 17:50] #147 closed

[2022-01-31 18:34] appsdevpk commented on #147
Thanks, it works

[2022-02-05 20:00] noverby commented on #139
@Herohtar you have to set DOCKER_HOST.
[code]

[2022-02-05 22:12] Herohtar commented on #139
@noverby I was setting `DOCKER_HOST`, but it was just `unix:/run/user/1000/podman/podman.sock` instead of `unix:///run/user/1000/podman/podman.sock`. `docker-compose` works with the former, so I guess it's just more forgiving with the path.

In any case, fixing that issue did get me further, but `nhost dev` is still failing:
[code]
I believe the problem is that with Podman you have to specify the

[2022-02-06 05:20] Herohtar opened #148 "Health checks for containers fail"
**Describe the bug**
When I try to run `nhost dev`, it gets stuck during the health check for the `nhost_auth`, `nhost_storage`, and `nhost_hasura` containers.

**To Reproduce**
1. Run `nhost dev`
2. Wait

**Expected behavior**
NHost dev environment should start up successfully.

**Screenshots**
CLI output:
[code]

**Desktop (please complete the following information):**
 - OS: Fedora 35 x64
 - Br

[2022-02-06 18:22] Acccent opened #149 "CLI fails to init a project for unknown reasons (Windows)"
**Describe the bug**
After downloading the cli from [releases](https://github.com/nhost/cli/releases), installing WSL 2, Docker and Express as explained in the [docs](https://docs.nhost.io/reference/cli), `./nhost` fails to properly initialize the project. Every subsequent call of that command restarts the initialization from scratch.

**To Reproduce**
Steps to reproduce the behavior:
1. Download

[2022-02-06 19:05] mrinalwahal commented on #148
Just restart the CLI in debug mode. And check your container logs from Docker engine. Check specifically for Hasura logs and Auth logs.

You will see where the problem is. Then we can help you out better in troubleshooting.

[2022-02-06 19:06] mrinalwahal commented on #149
Please run the CLI again with `--debug` flag: `./nhost --debug`.

You can more accurately see the error in debug logs. And then we can help you better.

[2022-02-06 19:13] mrinalwahal commented on #144
Yes, we are aware of this. We are working on providing a more graceful shutdown, or a more cosmetic error log.

[2022-02-06 21:35] Herohtar commented on #148
It looks like the problem is Postgres... the `nhost_postgres` logs are full of this repeated set of lines:
[code]

`nhost_auth` and `nhost_storage` just have messages indicating they are waiting on Hasura to be ready, and `nhost_hasura` has errors saying that it couldn't connect to `nhost_postgres`.

[2022-02-07 02:59] Acccent commented on #149
Here you go:

[code]

[2022-02-07 03:19] mrinalwahal commented on #148
Well, as the logs say - you clearly have a permission issue on your system.

Please take over the directory permissions based on your OS. For example, in UNIX systems use: `chmod` || `chown`.

Then rerun the CLI.

But this is definitely not a bug in the CLI. So, I'm closing this.

[2022-02-07 03:21] mrinalwahal commented on #149
The logs clearly say the problem is in downloaded Hasura CLI.

Try (this out)[https://github.com/nhost/cli/issues/147#issuecomment-1025152659]. This should solve your problem.

But this isn't a bug in the CLI.

[2022-02-07 04:47] Herohtar commented on #148
`/var/lib/postgresql/data` is inside the container, so I can't do that.

However, looking at the CLI code, it looks like the CLI tries to mount the local path `./.nhost/main/db_data` as the volume that maps to `/var/lib/postgresql/data` inside the container. Looking at that folder, it is already owned by me and I have full permissions:
[code]

[2022-02-07 07:28] mrinalwahal commented on #148
Try running the CLI with `sudo` permissions. And tell me if that does something.

[2022-02-07 07:35] Herohtar commented on #148
No change in status; still the same errors in every place.

[2022-02-07 21:02] c-nv-s commented on #116
@mrinalwahal is it possible to acknowledge if this self-hosting guide is still in the pipeline, or has it been overtaken by some other thing?

[2022-02-08 00:18] acarrera94 opened #150 "nhost init --remote causes "Failed to pull migrations from remote""
**Describe the bug**
[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
Created a new project,
Added tables and relations.
Nhost init --remote

**Expected behavior**
Should run successfully for a new project

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser
 - Version  Nhost CLI v0.6.1 for linux-amd64

**Additional context**
It's a n

[2022-02-08 01:10] mrinalwahal commented on #116
Hey @c-nv-s, try the following:

In your `nhost/config.yaml`, add the address of your Hasura/Postgres/Minio services.

[code]

Similarly, add address strings to postgres and minio. And specifically for minio, you can also use an S3 compatible API.

[code]

You are allowed to connect to any remotely hosted instances of only the aforementioned 3 services.

Let me know if it works out!

[2022-02-08 09:10] mrinalwahal commented on #150
As per the logs, this is clearly an issue with the schema of your Hasura instance.

Do one thing: create a new blank app locally with `nhost`. And manually replicate your Hasura schema locally.

[2022-02-09 21:21] c-nv-s commented on #116
looks like just adding those lines does not work.
I added the line for hasura and postgres and these lead to both ``nhost dev`` and ``nhost up`` finding unhealthy states for the ``nhost_storage`` and ``nhost_auth`` containers.

A few questions come to mind:
do the address values have to have 'https://' url scheme?
what if i'm using http://x.x.x.x ip format?
does the postgres environment credential

[2022-02-10 02:47] mrinalwahal commented on #116
Hey @c-nv-s,

Your postgres URI is supposed to be in format: `postgresql://[YOUR-USER]:[YOUR-PASSWORD]@[YOUR-POST_INSTANCE_ADDRESS]:5432/postgres`

And yes, you have to prefix the protocol with `http://` or `https://` depending on your local/prod instances.

Also, to fix the unhealthy states of your auth and storage issues, just try launching a self-hosted instances in a freshly initialized Nhost

[2022-02-10 04:05] Herohtar commented on #150
What does this mean and how is it done?

`nhost init --remote` is getting "Failed to pull migrations from remote" as well, but when running with debug the actual error is different:
[code]

[2022-02-11 05:01] c-nv-s commented on #116
well I am going just be patient and wait to see if we eventually get this link to a help guide to using the cli for self hosting because it sure isn't just changing three lines in the config.

[2022-02-11 05:54] elitan commented on #116
Hey @c-nv-s. Thanks for your patience. We hope to have better support and documentation for self-hosting Nhost soon.

[2022-02-12 09:20] msalehy commented on #116
Can we start modify and use some thing like this for V2?

`version: '0.0'
services:
  postgres:
    image: postgres
    restart: always
    volumes:
      - ./docker/data/db:/var/lib/postgresql/data
      - ./docker/initdb.d:/docker-entrypoint-initdb.d:ro
    environment:
      POSTGRES_PASSWORD: hejsan
    ports:
      - '5432:5432'
  graphql-engine:
    image: hasura/graphql-engine:v2.1.1
    de

[2022-02-12 14:08] mrinalwahal commented on #116
Hey @c-nv-s, exactly with which command are you running your environment? There is no command called `nhost start`.

After making your changes to `nhost/config.yaml`, please run it with `nhost dev`.

[2022-02-12 14:15] c-nv-s commented on #116
yes I was using ``nhost dev``  ... like I said I'm going to have to wait for an official guide/docker-compose for this because I had to move on to doing some other work for now. But as you can see from msalehy's message, I think there are a lot more config options which need to be considered/provided to make the process more smooth or clearly explained

[2022-02-12 15:22] elitan commented on #112
These logs can be found in the Hasura Console.

[2022-02-12 15:22] #112 closed

[2022-02-12 15:23] elitan commented on #115
Deployments can be found in the Nhost Console.

[2022-02-12 15:23] #115 closed

[2022-02-16 03:17] #149 closed

[2022-02-22 13:53] FuzzyReason opened #153 "CLI doesn't install express when installing a functions template."
CLI doesn't install express when creating a new project with a functions template.

[code]

[2022-02-22 13:57] FuzzyReason opened #154 "When creating a new application, CLI doesn't `cd` into the project root folder"
When creating a new application, CLI doesn't `cd` into the project root folder, and dependencies might be installed in the wrong folder.

[2022-02-22 14:01] FuzzyReason opened #155 "Browser tab duplication when starting an application locally"
When creating a local app with CLI and starting it, it automatically opens a tab with Hasura Console on port `1337.` If killing the app in the terminal and starting it again (without closing the tab in the browser), it opens a new one.

It would be nice to check if the user has a tab open with `http://localhost:1337`, so the tab with Hasura Console becomes active without opening a new one.

[2022-02-22 14:43] szilarddoro commented on #155
This issue is experienced in `Chrome (Version: 98.0.4758.102)`. It's working fine if `Safari (Version: 15.3 (17612.4.9.1.5))` is the default browser.

[2022-02-23 11:16] alimony opened #156 "Installation command fails with 404 error"
**Describe the bug**
I get an error when running the install command from the README.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `sudo curl -L https://raw.githubusercontent.com/nhost/cli/main/get.sh | bash`

**Expected behavior**
That nhost is installed.

**Desktop (please complete the following information):**
 - OS: macOS 12.1 (M1 Pro chip)
 - Browser: None
 - Version: None

**Add

[2022-02-24 21:46] nunopato commented on #156
@alimony is this still happening to you? I am not able to reproduce this issue.

[2022-02-24 21:51] nunopato commented on #155
@szilarddoro I don't think this is something we can easily do with the CLI. I think this would require hooking into the browser's API and asking whether that particular window is open. Safari probably does that by default. Closing this issue now.

[2022-02-24 21:51] #155 closed

[2022-02-24 22:09] nunopato commented on #154
Not an issue.

[2022-02-24 22:09] #154 closed

[2022-02-24 22:31] nunopato commented on #148
@Herohtar I am not able to replicate this issue. Are you able to launch a Postgres container without using the CLI?

[2022-02-24 22:58] Herohtar commented on #148
@nunopato No, that also fails with the same error. The problem is that Postgres tries to `chown` and `chmod` the database folder, which doesn't work with the permissions that Podman has. However, I am able to run Postgres with Podman if I mount the volume with the `Z` option (eg, `-v /home/user/project/data:/var/lib/postgresql/data:Z`). If I [modify the CLI](https://github.com/Herohtar/cli/commit/

[2022-02-28 14:42] alimony commented on #156
Yes. It's trying to download `https://github.com/nhost/cli/releases/download/mentions_count/cli-mentions_count-darwin-arm64.tar.gz` which does not exist.

[2022-02-28 14:49] alimony commented on #156
This line seems to set the incorrect version: https://github.com/nhost/cli/blob/main/get.sh#L44

If I download the JSON response manually, pretty print it, then run the grep and sed, I get the correct value.

Does the above line expect the response to be pretty printed? Because my curl downloads it as compressed.

[2022-03-01 10:14] plmercereau opened #159 "can't define environment variables in a simple way"
I want to add a secret environment variable (Oauth secret) to `hasura-auth` without storing it to `config.yaml`:

- tried putting it in `.env.development` -> not injected in all containers as per the "documentation" but only in the hasura container
- tried `.env` -> ditto
- tried also the following -> not interpolated
[code]

Three possible approaches:
1. inject `.env.development` variables in all

[2022-03-01 10:20] elitan commented on #159
I'll just add a somewhat related thought.

There are two types of configurations:

1. **Settings** - that should be propagated from dev to prod
2. **Secrets** - that should not be propagated from dev to prod.

Maybe we should take this into account when we think about what we put where (config.yml / .env).

[2022-03-02 06:03] dikshatekriwal opened #160 "Issue while creating a new app through nhost cli"
**Describe the bug**
Failing to create an app through nhost cli in windows.

**To Reproduce**
Steps to reproduce the behavior:
1. nhost -d
2. Enter app name
3. Starting containers in docker
4. See error - fork/exec C:\Users\IM0265\.nhost\hasura.exe: This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information and then contact the softwar

[2022-03-02 14:55] plmercereau opened #162 "Add missing variables to `config.yaml`"
In particular:
- AUTH_JWT_CUSTOM_CLAIMS
- AUTH_EMAIL_TEMPLATE_FETCH_URL

[2022-03-04 08:44] dikshatekriwal opened #165 "github repo linked to apps not visible to other owners"
**Describe the bug**
One of my team member created a workspace and invited me.
I accepted and created a new app and asked him to link the app to GitHub repo because he is the owner.
Now he is seeing the linked repo on nHost dashboard and I ain't.
I do have have access to repo but as member not owner.
I should see the linked repo even if I'm not able to link it same as we were doing in the old nhos

[2022-03-11 12:39] thetre97 opened #168 "WSL2 Issue - Accessing functions server from Hasura"
**Describe the bug**
When running `nhost dev` from inside WSL2, Hasura cannot access the functions server via the assigned `NHOST_BACKEND_URL` variable value.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you using WSL2.
2. Create a simple `/functions/test.ts` function, adding a console log to show it has been called (and returning some data if using an action).
3. Run `nhost dev

[2022-03-11 12:40] elitan commented on #168
Thanks for reporting this issue.

Quick question: What's the value of `NHOST_BACKEND_URL` inside the Hasura container?

[2022-03-11 12:41] thetre97 commented on #168
The value is: `"NHOST_BACKEND_URL=http://172.24.229.11:1337"`

[2022-03-11 12:54] elitan commented on #168
Seem to be related to:

https://github.com/microsoft/WSL/issues/4150

Workaround solution: https://github.com/microsoft/WSL/issues/4150#issuecomment-504209723

If anyone could test this (@thetre97) that would be awesome.

[2022-03-11 15:25] thetre97 commented on #168
I unfortunately can't get it to work 😕

[2022-03-16 12:24] mrinalwahal opened #169 "Inconsistent metadata on breaking metadata changes"
**Describe the bug**

There are cases wherein the Nhost team might introduce breaking changes to default metadata, and this introduces inconsistency in the metadata for already existing apps of our users.

To fix this problem manually, users might need to either permanently migrate their apps to new blank apps, with freshly generated latest metadata. Or perform the required metadata changes manual

[2022-03-16 16:40] #169 closed

[2022-03-18 09:15] Svarto commented on #150
@Herohtar @nunopato @mrinalwahal did anyone find a solution to this?

I have the same issue and same error message ("Union does not contain array"), I am not able to set up a local dev environment from an existing project on nhost v2.

Manually replicating my remote Hasura schema is not an option, this is an app already in production that has significant backend setup (incl. custom SQL functions,

[2022-03-18 10:36] mrinalwahal commented on #150
There is clearly a problem in the schema of your app. It's not getting saved locally.

I'm afraid manually migrating the app to a new local blank app might be the only immediate fix for now.

Just export your hasura metadata from production app, and import it locally.

[2022-03-18 10:47] Svarto commented on #150
@mrinalwahal thanks for the reply.

This doesn't work, see below for error I get. I tried to copy what migrations exist in the failed remote project, into a blank project, start it up, import metadata as you recommended. But it doesn't work
![image](https://user-images.githubusercontent.com/24279217/158989394-e8818c17-fad5-49de-a4d3-8181299f38a7.png)

[2022-03-18 11:59] mrinalwahal commented on #150
@Svarto first just delete all the migrations. Start a purely blank app. And just load the metadata. And see if that works. Then we'll come to migrations.

[2022-03-18 14:41] Svarto commented on #150
@mrinalwahal OK, tried this, I get the same error because the underlying datastructure in postgres does not match the metadata - so trying to import the metadata in Hasura created the same error as above.

[2022-03-18 18:58] mrinalwahal commented on #160
The Hasura CLI that has been downloaded in your system isn't compatible with windows.

Try [this out](https://github.com/https://github.com/nhost/cli/issues/147#issuecomment-1025152659). This should solve your problem.

But this isn't a bug in the CLI.

[2022-03-21 12:13] dikshatekriwal commented on #160
@mrinalwahal the above solution worked. Thanks a lot.

[2022-03-21 12:13] #160 closed

[2022-03-31 16:23] ArieJones opened #172 "Nhost purge does not purge images"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. run nhost purge
2. check docker to ensure images are purged

**Expected behavior**
That the docker images should be purged

**Screenshots**
After updating yaml file to get 0.5.0 of hasura-auth and then running nhost purge

![image](https://user-images.githubusercontent.com

[2022-03-31 20:34] mrinalwahal commented on #172
It wasn't supposed to purge the images anyway. Only delete the containers in case they are running. You will have to manually delete the images.

[2022-04-01 14:03] plmercereau opened #173 "Inconsistent metadata makes the CLI fail when upgrading hasura-auth from `v0.3.2`"
Since Hasura Auth [v0.4.0](https://github.com/nhost/hasura-auth/releases/tag/v0.4.0), the `auth.provider_requests.redirect_url` column has been removed.

But as this column is still mentioned in the local metadata in `nhost/metadata/databases/default/tables/auth_provider_requests.yaml`, the Nhost CLI will fail to apply metadata. It is worth mentioning this error will most likely hamper the ability

[2022-04-01 19:33] elitan commented on #173
This issue was almost fixed here (https://github.com/nhost/cli/pull/170) but I think what we need to do is remove the check for inconsistent metadata (https://github.com/nhost/cli/blob/main/environment/environment.go#L233-L238).

This will lead to the following behavior:

1. Start Nhost app
2. Hasura, auth, and storage starts and runs their migrations and metadata
3. Nhost applies local db migrati

[2022-04-01 19:48] elitan commented on #116
I'm closing this issue for now because we have an example docker-compose file of how to host the Nhost stack here: https://github.com/nhost/nhost/tree/main/examples/docker-compose

[2022-04-01 19:48] #116 closed

[2022-04-01 19:57] plmercereau commented on #173
I'll have a closer look.
In general terms, the use of [hasura metadata export](https://hasura.io/docs/latest/graphql/core/hasura-cli/hasura_metadata_export/) could also lead to problems as I think it replaces the entire local metadata directory by the ones in the Hasura+postgres servers. I am not sure it is a real problem here, but we have to keep that in mind

[2022-04-04 21:30] plmercereau commented on #173
If the CLI could run the following commands in this order, it will likely solve our problems:
1. start Hasura
2. wait for its health check
3. `hasura metadata apply`
4. `hasura metadata inconsistencies drop`
5. start hasura-auth and hasura-storage
6. wait for their health check
7. `hasura metadata apply`

[2022-04-11 06:40] elitan commented on #173
The last step (7) will apply local Hasura metadata which might include outdated custom columns configuration (like `redirect_url => redirectUrl`). This is the problem.

We do however need to apply local metadata. But we should not apply any `configuration` for tables in the `auth` and `storage` schema.

Instead, Hasura Auth and Hasura Storage are responsible for that.

I think we can keep most of

[2022-04-12 09:35] dikshatekriwal opened #188 "Inconsistent behaviour in the Authentication workflow due to background /auth/token API calls"
The Authentication workflow of Nhost SDK is not found stable due to background API calls which stores refresh token and token expiry time in localstorage.
Once logged-in using nhost.auth.signIn function, the token gets expired in few minutes and the self called token api does not help to get the new token.
Also, when trying to login again, the SDK shows this info in console {message: 'User is alre

[2022-04-12 09:53] #148 closed

[2022-04-12 21:21] elitan opened #190 "Adding a new environment variable in `.env.development` should instantly be available in functions"
Right now a restart of all docker containers is required.

[2022-04-13 10:41] beepsoft opened #192 "nhost cli crashes with 'fatal error: concurrent map writes'"
**Describe the bug**

The nhost cli `Nhost CLI v0.6.5 for darwin-amd64` crashes from time to time. This is the stack trace I got, maybe related to running functions:

[code]

**To Reproduce**

Cannot reproduce, it just happens sometimes.

**Desktop (please complete the following information):**
 - OS: macOS Monterey
 - Nhost CLI v0.6.5 for darwin-amd64, run using Rosetta

**Additional context**

N

[2022-04-13 15:40] beepsoft commented on #192
My guess is that it crashes because I try to invoke the same function from my page for two images in parallel and there's some race condition in the compilation/startup of the function by the cli.

[2022-04-14 06:50] dbarrosop commented on #192
Hello,
would you mind testing #195? I can provide a binary if you don't have the golang toolkit, just let me know.

Thanks!

[2022-04-14 06:51] beepsoft commented on #192
Sure, I can test it if you can give me the binary, I don't have golang dev env.

[2022-04-14 07:02] dbarrosop commented on #192
Sending you a binary for macos-arm64, if you need any other platform don't hesitate to let me know:

[nhost-arm64.zip](https://github.com/nhost/cli/files/8486963/nhost-arm64.zip)

[2022-04-14 07:09] beepsoft commented on #192
Thanks, I installed it and will try for a couple of days and see how it goes.

[2022-04-14 13:13] Eun opened #196 "nhost login returns no helpfull error in case something goes wrong"
**Describe the bug**
running `nhost login` with invalid username/password returns nothing, makes it hard for users to see whats wrong.

**To Reproduce**
Steps to reproduce the behavior:
Run `nhost login` with invalid user name and password.

**Expected behavior**
Some message that mentions the username/password is wrong.

[2022-04-16 12:41] beepsoft commented on #192
@dbarrosop it seems to work well so far. One thing I found is that when I try to close the cli using Ctrl+C it hangs with this message and doesn't close, I had to `kill -9` it:

[code]

[2022-04-19 18:38] #150 closed

[2022-04-20 13:52] Eun commented on #150
Please test with nhost version v0.6.6.
If the problem still occurs I will reopen this issue.

[2022-04-20 21:08] andr-ec opened #202 "Storage Fails when custom Postgres address is provided"
**Describe the bug**
The top of my config.yaml looks like this:
[code]

I am providing an address in the Postgres section, so that I can use my local database instead of the docker instance.

But storage fails the health check because it doesn't use the Postgres address provided, or the environment variable in the serve command.

`docker inspect` gives the following:
[code]

Which shows it ignores

[2022-04-21 01:18] jovermier opened #203 "User access to file storage forbidden after upgrade"
**Describe the bug**
After upgrading from v0.6.5 to v0.6.6 and running the nhost platform locally, logged in users are no longer able to access files they were able to previously.

**To Reproduce**
1. Install nhost cli v0.6.5
2. Set user insert and select permissions.
3. With logged in user, upload files.
4. With logged in user, access files and notice the user can download the files.
5. Upgrade t

[2022-04-21 01:37] Herohtar commented on #150
This appears to have fixed the error for me.

[2022-04-21 06:59] mrinalwahal commented on #153
I think the decision to **not** run terminal commands, like `npm i`, on behalf of the user automatically was taken consciously while I was in the team.

But maybe we can add an additional consent [Y/N] to ask the user whether to run it for them.

[2022-04-22 15:29] joshua1 commented on #148
@Herohtar  is your fix now part of the latest CLI version ? i am still experiencing the same issue . And i have the latest CLI installed. chown and chmod not fixing the issue here. every where i have looked indicates only the :z option works

[2022-04-22 16:05] jovermier commented on #203
I configured buckets and files to be public. The api now returns a 500 when trying to fetch the file. Looking into the nhost_storage container, The log show `NoSuchKey: The specified key does not exist.\n\tstatus code: 404`. I then added a new file and noticed a file structure change. The upgrade script probably should have moved these files. The new file is highlighted in the screenshot.
![image]

[2022-04-22 16:36] Herohtar commented on #148
@joshua1 Yes. I don't know which specific version it was added in, but if you use the current latest (`v0.6.6`) it should work.

[2022-04-23 07:21] joshua1 commented on #148
@Herohtar , i am using the current version and still no joy. still getting
[code]
I will delete all downloaded images and try again

[2022-04-23 07:42] joshua1 commented on #148
Made no difference downloading new images.

[2022-04-23 07:58] dbarrosop commented on #148
@joshua1 the fix wasn't related to the images, it is related to the cli itself:

https://github.com/nhost/cli/pull/158

Which OS and container engine are you using? This particular issue that was solved was related to podman. If you are running some other OS or engine that might be the cause, for instance, I am aware that colima, lima and other qemu-based container solutions for non-linux system a

[2022-04-23 08:06] dbarrosop commented on #203
yes, this was a bug that was fixed already and will be released on monday

I think this is a problem with a cli change that was done, I will look into it and fix it but there shouldn't have been any change to the structure.

[2022-04-23 08:12] dbarrosop commented on #203
Would you mind testing #203? If you tell me which OS/architecture you are using I can build a binary for you.

[2022-04-23 11:50] elitan opened #210 "Unable to create a new Nhost project locally."
**Describe the bug**
Unable to create a new Nhost project locally.

**To Reproduce**

[code]

Running `nhost up -d` outputs a single line break and then nothing more.

**Desktop (please complete the following information):**
 - OS: macOS (M1)

[2022-04-23 14:56] jovermier commented on #203
I built the main branch binary, verified it worked the same. I then built your 203 branch and tested. The 203 version was not able to access the files in neither `data/nhost` nor `data/nhost/nhost`. It was also not able to upload new files.

[2022-04-23 20:20] dbarrosop commented on #203
Apologies, I made a mistake in the fix and I was so convinced it was the right thing that I didn't event test it myself. Anyway, I corrected the mistake and tested it this time, it should work now. It'd be great if you could confirm though before mergint. Thanks!

[2022-04-24 01:31] jovermier commented on #203
Your latest changed fixed the issue. I had to manually move some files new uploads around in both `data/nhost` and `data/.mino.sys` to the originally intended file location.

[2022-04-24 01:31] #203 closed

[2022-04-24 20:28] joshua1 opened #235 "Postgres Permission issues at /var/lib/postgresql/data"
I am experiencing permission issues when running nhost via cli (nhost dev), even after running with sudo.
[code]
Is there a way to specify a different directory with the permission issues on /var/lib/postgresql/data . Running Hasura_auth from the project however does not give this error. Hasura_auth works ok and the docker-compose file is accessible ( I didn't have to make any change even).

Only

[2022-04-25 13:18] #173 closed

[2022-04-25 14:59] #192 closed

[2022-04-27 12:38] gedw99 opened #214 "Golang nhost client sdk for Web, Mobile and Desktop apps built with golang."
I use GIOUI, which is a golang framework for building, web, desktop and mobile apps.
Heres some links about it:
https://gioui.org/
https://github.com/orgs/gioui/repositories

[github.com/hasura/go-graphql-client](https://github.com/hasura/go-graphql-client) will compile within GIOUI.
I have not checking yet if it works for the WASM compile target ( https://gioui.org/doc/install/wasm)

[2022-04-29 08:34] dbarrosop commented on #214
Hello, I am not sure if you have a question but if you are looking for a golang client we don't have an official one even though `hasura-storage` comes with one (only for the storage though):

https://pkg.go.dev/github.com/nhost/hasura-storage/client

[2022-04-30 09:27] gedw99 commented on #214
I am using the https://pkg.go.dev/github.com/nhost/hasura-storage/client currently to play around with GIOUI talking to the server.

What API do the JS GUI's hit on the server please ? Is it graphql ?  Can you link me to the code ? I am hopeless at JS these days :)

[2022-05-06 15:44] ctrlemo opened #218 "nhost init --remote does not include custom SQL functions in the migration.sql file"
**Describe the bug**
I ran the following command
nhost init --remote

As expected it created a new Nhost project folder containing the latest Production hasura metadata and postgres migration schema.
However the postgres schema, was missing all my custom postgres database functions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Nhost production project
2. Run your local version of

[2022-05-11 03:13] oristian commented on #218
I had the same experience today, on the latest `nhost cli @0.6.10`

[2022-05-12 06:49] plmercereau opened #220 "Sign in with GitHub"
`nhost login` asks the user for their email/password.
Some users use exclusively GitHub to authenticate to the cloud, we may want to reflect that into the CLI

[2022-05-12 06:57] szilarddoro commented on #220
Sign in with your GitHub user on https://app.nhost.io and create a password for your account (Click on avatar in the top right corner => Change password). You can use this password to sign in to the CLI.

[2022-05-12 07:05] plmercereau commented on #220
sure it's not blocking, but some users can consider oauth is enough

[2022-05-16 07:10] kratam opened #222 "containers are not stopped on quit if nhost were running for days"
**Describe the bug**
When the local nhost runs for a long time, it fails to stop the docker containers after hitting ctrl+c

**To Reproduce**
Don't know how to reproduce but it happens almost every time for me.

**Expected behavior**
nhost quits and the containers are stopped.

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: macOS 12.3
 - Version v0.6.7

[2022-05-17 10:12] elephant3 opened #223 "The new app can't be created"
Possibly a dup of https://github.com/nhost/cli/issues/210

**Describe the bug**
I create a new app with `Nextjs-Apollo` frontend template and `Nodejs` functions template using `Nhost CLI v0.6.10 for darwin-arm64`

**To Reproduce**
The full output:

[code]

**Expected behavior**
The new app is created and containers are running

**Desktop (please complete the following information):**
 - OS: macOS

[2022-05-21 20:11] GavanWilhite opened #227 "nhost init --remote does not pull down the auth features that are enabled in the cloud"
When using nhost init --remote the resulting config does not have the auth features enabled that were enabled in the cloud (specifically tested with passwordless). This leads to getting a DisabledEndpointError when trying to use auth strategies that work in the cloud.

[2022-06-01 16:21] elephant3 opened #234 "Print help output when calling CLI without a subcommand"
## Description
Currently when you call cli without any subcommand it tries to be smart and either runs `init` or `dev` subcommand.
Usually, running a CLI program without arguments or with some standard help argument (e.g. `help` ) just prints out how to use it.

[2022-06-03 05:16] dbarrosop commented on #235
Those commands are not run in your system, they are run in a docker container. Would you mind describing which operating system and container engine/application are you running? We have seen that issue with people using podman, colima and other alternative solutions to the docker.

https://github.com/nhost/cli/issues/148

[2022-06-04 08:30] dbarrosop commented on #235
@shiftlabs1 if the issue is what i think it is (see my previous comment), the user doesn't matter, it is a problem with either the virtualization layer (if using macos/windows) and/or the containerization layer

[2022-06-05 11:54] HananoshikaYomaru commented on #142
so what is the solution? where the `functions/` dir should be put? Shouldn't an empty functions directory should be created by default?

[2022-06-05 12:02] HananoshikaYomaru commented on #142
![CleanShot 2022-06-05 at 20 01 26](https://user-images.githubusercontent.com/43137033/172049467-39b548ac-b5a3-4bc7-91df-09369619736b.png)

The project structure is this and the nhost doc need to be updated to tell users that the `functions/` should be in the root. Or the creation of `functions/` should be made default.

[2022-06-06 09:06] atapas opened #237 "The nhost dev command fails with multiple errors"
**Describe the bug**
I've been using nhost for a while now. The `nhost dev` command from CLI fails with multiple erros.

**To Reproduce**
Steps to reproduce the behavior:
1. Followed the steps mentioned here: https://docs.nhost.io/platform/overview/get-started-with-nhost-cli
2. the cli got installed successfully and able to get the nhost project locally.
3. However the `nhost dev` doesn't work 90%

[2022-06-06 09:57] dbarrosop commented on #237
Can you show the logs for the postgres container? I think the issue is going to be there.

[2022-06-06 10:24] atapas commented on #237
Could you please gimme the command to fetch that from my ubuntu box?

[2022-06-06 10:37] atapas commented on #237
@dbarrosop Is this the one?

![image](https://user-images.githubusercontent.com/3633137/172145234-7f0719cb-dc73-4c72-b0fb-ccd3838ef928.png)

[2022-06-06 11:52] dbarrosop commented on #237
Are those from the same run? It is a bit strange because postgres says it is listening on port 5139 but the containers are trying to connect to port 5739. For instance:

hasura-storage:

[code]

postgres:

[code]

[2022-06-06 11:57] atapas commented on #237
No the postgres one from the separate run.However the outsome is the same.

![image](https://user-images.githubusercontent.com/3633137/172155884-44ee270d-7964-4620-8c38-9f52cf5b357b.png)

Other logs from the same run
![image](https://user-images.githubusercontent.com/3633137/172156073-ebcfa5ec-c6b6-4e68-a714-27ede6c29748.png)

![image](https://user-images.githubusercontent.com/3633137/172156118-ec

[2022-06-07 22:42] elephant3 opened #239 "Remove option of golang function template"
Go functions support was introduced in early version of CLI. However, we realised that it had certain shortcomings, therefore we decided to temporarily remove it and make up a better implementation.

[2022-06-07 22:42] elephant3 opened #240 "Remove templates subcommand"
We are removing frontend templates currently. Feel free to use code from https://github.com/nhost/nhost/tree/main/examples or use our quickstart as a starting point.

[2022-06-21 04:19] atapas commented on #237
Hi Team,

Any update/workaround with this issue?

[2022-06-21 06:15] dbarrosop commented on #237
We are working on replacing some of the internal magic with plain `docker-compose`. This should make things easier to troubleshoot and also increase compatibility with various environments. I don't have an exact timeframe but hopefully we will have something in a couple of weeks.

[2022-07-01 21:26] jovermier opened #254 "Run any Hasura CLI command"
Hasura cli provides a squash feature to squash migration files down into a single file. Allow Hasura cli to work with nhost directory or add similar functionality to Nhost cli.

[https://hasura.io/docs/latest/graphql/core/hasura-cli/hasura_migrate_squash/](https://hasura.io/docs/latest/graphql/core/hasura-cli/hasura_migrate_squash/)

[2022-07-01 21:38] plmercereau commented on #254
In broader terms, I would suggest the CLI should be able to run any hasura console command

[2022-07-01 23:14] franzwilhelm opened #449 "Format for Twilio SMS provider is incorrect when creating config from CLI"
The config reference is on this form

[code]

But as stated out in [this issue](https://github.com/nhost/nhost/issues/467), the correct reference looks like this:

[code]

In general there is no schema definition for the config.yaml, so it's impossible to know what the correct structure looks like. Don't close this issue before that is resolved and communicated in the docs

[2022-07-05 08:33] plmercereau opened #255 "Inconsistent Postgres versions"
- In the CLI: 12.7
- In the Cloud: 13.3

[2022-07-06 13:40] hotrush opened #256 "Hasura upgrade"
I noticed that hasura version is locked to 2.2.0 when the most actual one is 2.8.3 (same in the cloud I think). Any luck to have it upgraded to the latest version? I think it is quite important to use latest software versions, also some feature are missing such as stream subscriptions.

[2022-07-11 02:12] dminkovsky opened #260 "More logs in `nhost dev` during check images?"
**Is your feature request related to a problem? Please describe.**
Pulling images in `nhost dev` takes a long time depending on connection speed. Unless you know images are being pulled and know to monitor `docker images`, you don't really know what's going on.

**Describe the solution you'd like**
The CLI could log info/progress as images are pulled.

**Describe alternatives you've considered**
I

[2022-07-13 17:44] MPK1 commented on #237
I actually encounter the exact same problem as @sebpalluel on my M1 Mac. On Debian, everything works fine. The created db_data directory is not owned by postgres(999).

[2022-07-16 19:17] dminkovsky commented on #260
Actually the `-d` debug switch provides a good amount of information, in my opinion anyway! Not noisy, all relevant stuff.

[2022-07-20 23:43] joserocha3 commented on #256
Version can be added to `nhost/config.yaml`.

[code]

There are some details in the [CLI wiki](https://github.com/nhost/cli/wiki/Configuration-Design), but it's not very descriptive.

[2022-08-01 06:22] elitan opened #267 "Functions in/with `_` prefix turnes into endpoints"
The CLI should not turn files in/with `_` prefix into endpoints. However, it does:

https://github.com/nhost/nhost/issues/848#issuecomment-1192856700

Relevant docs: https://docs.nhost.io/platform/serverless-functions#deploying-serverless-functions

[2022-08-02 23:03] fungilation opened #269 "Make NHOST_BACKEND_URL an env var for local dev"
`NHOST_BACKEND_URL`=http://localhost:1337/ even when it's removed from .env.development. This is due to it being a system var that cannot be changed.

This should be changeable for local dev. Use case: Local function is always fetching gql endpoint under NHOST_BACKEND_URL domain. Letting NHOST_BACKEND_URL be defined as an env var means easy pointing of local function in working with data on any de

[2022-08-03 10:55] Corentin7301 opened #271 "To link a project : Invalid email. Linking aborted."
**Error say ```Invalid email. Linking aborted.``` when tried to type ```nhost link```**

**To Reproduce**
Steps to reproduce the behavior:
1. Go in your local folder in terminal
2. Type ```nhost link``` in terminal
3. Select your project in CLI and copy the name of project
4. Press Enter

**Expected behavior**
Clone the project in local folder.

**Screenshots**
![CleanShot 2022-08-03 at 12 52 50@2

[2022-08-04 08:32] kratam opened #272 "Use native arm (apple silicon m1/m2) postgres/mailhog containers"
**Is your feature request related to a problem? Please describe.**
Right now the Postgres and Mailhog images are locked.

**Describe the solution you'd like**
It'd be better to use apple silicon compatible images OR add an option to select custom images.

**Describe alternatives you've considered**
There are no alternatives.

**Additional context**
![img](https://cdn.discordapp.com/attachments/615

[2022-08-04 23:49] dminkovsky opened #273 "Nhost up requires the Internet"
**Is your feature request related to a problem? Please describe.**

My power went out. I'd like to work on my app. However, when I do nhost up, it crashes while pulling docker images, even though I already have them.

**Describe the solution you'd like**

The cli shouldn't fail if I already have the necessary images.

[2022-08-05 04:11] dohomi opened #274 "nhost init --remote throws error on a new project"
**Describe the bug**
I installed the CLI and run `nhost init --remote` on a new created project and not able to proceed.

**To Reproduce**
Steps to reproduce the behavior:

1. nhost init --remote
2. check the error message

[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**De

[2022-08-10 17:14] nnennajohn opened #276 "Nhost Function can't access Express in Monorepo"
**Describe the bug**
Nhost function throws error  'MODULE_NOT_FOUND' in monorepo. I have express, @types/express and @types/node installed. But for some reason, when run from apps/nhostexampleapi, it throws an error that it can't find express. When I move the nhost folder out of the nested workspace, the function works, as it is on the same level as the node_modules folder.

This just happens with

[2022-08-19 10:50] #108 closed

[2022-08-19 10:52] elitan commented on #142
This should be fixed in the new release: https://github.com/nhost/cli/releases/tag/v0.7.1

Let me know if you still encounter this issue after upgrading.

[2022-08-19 10:52] #142 closed

[2022-08-19 10:53] elitan commented on #144
Should be fixed in the latest release: https://github.com/nhost/cli/releases/tag/v0.7.1

[2022-08-19 10:53] #144 closed

[2022-08-19 10:53] elitan commented on #145
It's now possible with the new version (https://github.com/nhost/cli/releases/tag/v0.7.1).

Examples:

[code]

[2022-08-19 10:53] #145 closed

[2022-08-19 10:54] elitan commented on #153
The concept of templates has been removed in the latest release.

[2022-08-19 10:54] #153 closed

[2022-08-19 10:56] elitan commented on #156
This issue should be fixed in the latest version. Let me know if you still have this issue.

[2022-08-19 10:56] #156 closed

[2022-08-19 10:56] elitan commented on #168
This is fixed in the latest version.

[2022-08-19 10:56] #168 closed

[2022-08-19 10:58] elitan commented on #210
Fixed in the latest release.

[2022-08-19 10:58] #210 closed

[2022-08-19 10:58] elitan commented on #223
Fixed in the latest release.

[2022-08-19 10:58] #223 closed

[2022-08-19 10:59] elitan commented on #222
This is fixed in the latest release.

[2022-08-19 10:59] #222 closed

[2022-08-19 11:01] elitan commented on #237
This is fixed in the latest release (with docker compose).

[2022-08-19 11:01] #237 closed

[2022-08-19 11:01] elitan commented on #240
fixed.

[2022-08-19 11:01] #240 closed

[2022-08-19 11:03] elitan commented on #256
We will be more responsive to Hasura version updates in the future.

If you want to set a custom Hasrua version you can do so in `nhost/config.yaml` like this:

[code]

[2022-08-19 11:03] #256 closed

[2022-08-20 02:41] yureckey opened #288 "I don't see windows versions in the 0.7.x releases"
this

[2022-08-20 04:30] elitan commented on #288
We only support WSL2 from 0.7.x. We haven't tried it on native Windows.

[2022-08-20 06:45] yureckey commented on #288
Soooo, does this mean I can't use CLI on Windows?
That's not cool, given that ONLY way (afaik) to modify email templates are using CLI to sync local and remote app and upload templates (and same cumbersome procedure for Functions)

[2022-08-22 19:45] elitan commented on #274
This should be fixed in the latest release. Can you try to update to the latest version?

Let me know here if you still encounter problems.

[2022-08-22 19:45] #274 closed

[2022-08-22 19:46] elitan commented on #267
Fixed in latest version.

[2022-08-22 19:46] #267 closed

[2022-08-22 19:46] #260 closed

[2022-08-22 19:46] elitan commented on #260
Yes running `nhost up -d` (in debug mode) works well.

[2022-08-22 19:47] elitan commented on #239
Removed in the latest version.

[2022-08-22 19:47] #239 closed

[2022-08-23 09:04] elephant3 commented on #273
Fixed in the recent release. However, it still requires internet connection when you do `nhost init` because it pulls email-templates from github. If you have your project set up and all docker images are downloaded, then you won't have the issue anymore.

[2022-08-23 09:04] #273 closed

[2022-08-23 09:08] elephant3 opened #298 "Seeds are applied just once"
**Describe the bug**
Seeds are applied just once, so if I change to another branch the CLI doesn't apply them.

**To Reproduce**
- I create an nhost project and run it with `nhost up`
- CLI applies metadata, migrations and seeds
- I make a new git branch
- CLI doesn't apply seeds

**Expected behavior**
Seeds are applied once on every git branch

[2022-08-23 09:17] #234 closed

[2022-08-23 12:24] elitan opened #299 "Stop any Nhost project"
I think we should add the ability to close any running Nhost project, even if you execute the down-command from another folder than where you started Nhost.

Maybe something like `nhost down --all` or `nhost down --all-projects`?

[2022-08-24 00:03] vipafattal commented on #288
So does that mean you are not continuing support for Windows CLI or in future releases will be available for windows?

[2022-08-24 06:00] elitan opened #303 "Knowing when CLI has completed all startup steps and all containers are healthy"
Currently, there is no way of knowing when the CLI has completed all startup steps (applying migrations, metadata import/export, seeds, the restart of containers, etc.), and all containers are up and healthy.

This causes problems in CI environments where we need to start `nhost up` and run tests **after** all startup steps and all containers are healthy.

For example, we're relying on `/v1/auth/h

[2022-08-24 06:44] dbarrosop commented on #303
I am guessing this is for scripting/CI purposes. In that case I'd suggest instead adding a `--background` flag (i.e. `nhost up --background`) that instead does everything that it needs doing and everything has been checked and then  exits the program without stopping any container and setting a proper status code (0 for success, non-0 for errors). That way `nhost up -d` could be easily used in any

[2022-08-24 07:33] kratam commented on #269
Another use-case: I have a hasura cron which calls an nhost function => this function calls an external queue and passes `NHOST_BACKEND_URL` as the url => the queue should call another nhost function at this url (but cannot reach `http://traefik:1337` which is a hard-coded URL in the new CLI)

[2022-08-24 07:52] #298 closed

[2022-08-24 10:16] elephant3 commented on #299
How does CLI knows which project to stop if you ran multiple at the same time?

[2022-08-24 10:35] #269 closed

[2022-08-24 10:35] #159 closed

[2022-08-24 10:51] elitan opened #305 "`extends` setting in tsconfig.ts can cause functions container to fail"
The functions container will fail trying to start with the following `tsconfig.ts`:

[code]

This is the `tsconfig.ts` file we're using in our monorepo for our `@nhost/hasura-storage-js` package [here](https://github.com/nhost/nhost/blob/fix/storage-in-node/packages/hasura-storage-js/tsconfig.json#L2).

The reason functions fails is because we mount the current directory so the functions container

[2022-08-24 12:40] elephant3 commented on #305
Fixed in https://github.com/nhost/cli/releases/tag/v0.7.8 release

[2022-08-24 12:40] #305 closed

[2022-08-24 13:12] elitan commented on #303
We solved this in our CI by making a GET (not HEAD) request to the Hasura console at `http://localhost:9695`, which is the last service that starts after all containers are healthy.

[2022-08-24 14:13] dminkovsky commented on #273
Yes! Tested yesterday on my flight :) Thank you very much.

[2022-08-24 16:53] Anan7Codes opened #307 "Cli ask's me to login over and over again"
I created an account on nhost and I sign in with my github. However when I try to sign in onto nhost cli, I enter my github email and password and it says successfully authenticated but any command I run after that, it asks me to enter my credentials again which also fails.

<img width="577" alt="Screen Shot 2022-08-24 at 8 47 43 PM" src="https://user-images.githubusercontent.com/37017231/18647673

[2022-08-24 18:23] ArieJones opened #308 "NHOST_BACKEND_URL not functioning as expected"
It appears as if some recent changes in the cli have created a problem. We used to be able to use the nhost-js  client and use the NHOST_BACKEND_URL environment variables to wire up a client in order to make calls to the graphql instance. However, with the current set of changes the NHOST_BACKEND_URL is set to the http://traefik:1337 which doesn't work and you will get a connection error.

If you

[2022-08-24 19:12] elitan commented on #308
Could you describe your use case in detail, so I understand your specific problem?

[2022-08-24 19:15] elitan commented on #308
Related issue: https://github.com/nhost/cli/issues/269

[2022-08-24 19:18] elitan commented on #308
@elephant3 Is there something we can do here to change `traefik` to `localhost` so it works with Docker, Docker networks, and Traefik?

[2022-08-24 19:19] ArieJones commented on #308
So we have the ability to process stored tokens for monthly payment plans that we don't want the keys exposed to the front end ....

so we put that logic away on the back end ....

but as part of that process we have to call a bunch of graphql queries to find out other information .. such as the token for the account .. how much .. yadda yadda...

and to update values after it is processed... was

[2022-08-24 19:21] ArieJones commented on #308
I am proposing that we just put an environment variable on the functions instance... which is what the PR is about up there..

I am assuming that we would need to add that environment variable to the production instances to.

[2022-08-24 19:22] elitan commented on #308
From where did you do those calls with the js library using the `NHOST_BACKEND_URL`?

The values in prod are unchanged. The value of `NHOST_BACKEND_URL` was changed in the CLI because we're now running functions inside a Docker container and the same Docker network as all other containers together with Traefik. Nothing in prod has changed regarding system environment variables.

[2022-08-24 19:22] ArieJones commented on #308
I have tried using localhost.... but I think because the functions are in their own container ... localhost doesn't mean much to them

[2022-08-24 19:24] elitan commented on #308
It feels hacky, and we must update system env vars for prod if we do so.

Maybe we can solve this issue more elegantly.

[2022-08-24 19:25] ArieJones commented on #308
Ok then my prod should be unaffected right now.. because I haven't pushed up any of the updates from when I updated the CLI ... because I ran into a problem upgrading where it wiped all my data out of the database...

But I think if you are going to be consistant .. then you'll probably have to add the environment variable to the functions container .. if for nothing else than to not have us lowly

[2022-08-25 22:14] acarrera94 opened #311 "Storage port not forwarded causes issues with presigned URL"
**Describe the bug**
When a request is made to the presigned url after that url is generated. It fails because the url is wrong.

**To Reproduce**
Steps to reproduce the behavior:
Use the latest CLI
generate a presigned url with nhost-js

The response will be something like:
[code]
the problem is that it's using 8576 which would be fine if the storage docker container was forwarding that port. But

[2022-08-26 04:45] plmercereau commented on #311
Maybe a missing environment variable in the container definition @elephant3 ?

[2022-08-26 05:04] elitan commented on #308
I'm closing this as everything is working as expected with NHOST_BACKEND_URL for internal communication between functions and other Nhost services.

[2022-08-26 05:04] #308 closed

[2022-08-26 05:48] elitan commented on #276
For now, in monorepos, we recommend creating a `package.json` file inside the `functions/` folder with the npm packages you need for your serverless functions. Could you try that and see if that solves your problem?

Also, notice there is a new version of the CLI.

[2022-08-26 05:53] elitan opened #313 "Incorrect pulling of migrations from remote"
It seems like the CLI is only pulling database **table** schemas, not other migrations like computed fields, triggers, etc., during `nhost init --remote`.

Documentation from Hasura:
- https://hasura.io/docs/latest/migrations-metadata-seeds/migrations-metadata-setup/#step-2-set-up-a-project-directory
- https://hasura.io/docs/latest/hasura-cli/commands/hasura_migrate_create/#examples

[2022-08-26 05:55] elitan commented on #313
When pulling SQL migrations from the server, we want to pull all migrations except the `auth` and `storage` schemas since Hasura Auth and Hasura Storage handle these two schemas.

[2022-08-28 08:20] nnennajohn commented on #276
Thanks @elitan . Will try that.

[2022-08-29 14:07] #311 closed

[2022-08-29 15:13] elephant3 commented on #311
@acarrera94 plz upgrade to the [v0.7.9](https://github.com/nhost/cli/releases/tag/v0.7.9)

⚠️ plz read the release notes if you wanna keep your postgres data after upgrade

[2022-08-29 16:11] Svarto opened #319 "Local Dev not possible on Android emulator"

[2022-08-29 16:58] chrtze opened #320 "Wrong port number for mailing causes internal server error"
**Describe the bug**
After upgrading the CLI and our nextjs app to the latest sdks, I encountered that the signup results in an internal server error (in local development). The error can be fixed by setting the smtp port in the config.yaml to `1025` which was 1118 before (?). I am not sure if this was happening because of our older nhost project or if this is something that needs to be fixed in t

[2022-08-29 18:09] dbarrosop commented on #319
I'd suggest not making assumptions and adding an option to simply specify the backend URL without any logic behind it. Otherwise this has the potential to fail if users are using some internal domain (i.e. `my-backend.local`) or an unorthodox IP.

[2022-08-29 20:03] elitan commented on #320
Oh that's right. We should show a warning during startup.

If `host` is `mailhog` and `port` is not `1025`:
  print: 'Change smtp.port to 1025 to get Mailhog to work with Auth`

[2022-08-30 08:33] plmercereau opened #322 "Raise a warning when `services.*.image` versions of `config.yaml` are less than the default values"
Example:
- In the cli `v0.7.9`, `hasura-storage` defaults to `0.2.4`
- in config.yaml, `services.storage.image` is set to `nhost/hasura-storage:0.2.3`

As a result, `hasura-storage` won't work correcly.

In that case, we could raise a warning on startup like "Your configuration uses the nhost/hasura-storage:0.2.3. It will likely result in errors. Please update to version 0.2.4 or higher."

[2022-09-02 02:51] linden commented on #307
running `rm -rf ~/.nhost` fixed this for me (macOS).

[2022-09-02 07:57] Anan7Codes commented on #307
I'm still facing the same issue :(

[2022-09-02 07:59] linden commented on #307
I also reset my password, have you tried that?

[2022-09-02 08:39] elephant3 commented on #307
@Anan7Codes What version of CLI do you use?

[2022-09-02 08:48] Anan7Codes commented on #307
Nhost CLI v0.7.9 for darwin-arm64

[2022-09-02 08:49] Anan7Codes commented on #307
Since I'm using github auth, should I reset my github password?

[2022-09-02 08:52] elitan commented on #307
If you're using GitHub to sign in to Nhost please set a Nhost password for your account:

![CleanShot 2022-09-02 at 10 51 47](https://user-images.githubusercontent.com/331818/188102573-fffb9237-0c23-44a7-aabc-e0c6733f26f2.png)

However, we should improve the error message from the CLI to clearly state what's happening (success/failure) when signing in.

[2022-09-02 08:55] Anan7Codes commented on #307
Thanks Johan this worked :))

[2022-09-02 08:58] elitan commented on #307
Perfect. Let's leave this issue open to fix the CLI with better messaging around what's happening during sign-in.

[2022-09-04 12:17] seyaobey-dev commented on #313
Thanks for looking into this issue. Any idea on when it could be fixed? Thanks again.

[2022-09-04 20:02] linden opened #328 "`nhost list` doesn't work with capitalized names"
**describe the bug**
currently, when trying to link an app with a capitalized name (i.e. `Example`) you cannot get past the `Enter the app's name to confirm linking (case sensitive)` stage.

this is due to [`strings.ToLower` case being run on every response](https://github.com/nhost/cli/blob/main/cmd/link.go#L240).
also the error message reads `Invalid email. Linking aborted.`, this is not related

[2022-09-05 14:02] heliocaruccio opened #331 "nhost-cli failed to init hasura client"
Hi after upgrading nhost-cli to Nhost CLI v0.7.9 for darwin-amd64. I get this error:
`failed to init hasura client: invalid character '{' after top-level value`

Tested in a new project (nhost init)

Docker version 20.10.17, build 100c701
Docker Compose version v2.10.2
Hasura client version v2.11.1

Strange that on another machine with the same settings, the error does not occur.

Any idea? Thanks

[2022-09-05 19:06] linden opened #332 "the default `config.toml` doesn't contain the right structure for `allowed_redirect_urls`"
currently the structure looks like this:
[code]

when it should look like this:
[code]

this does not cause an error and fails silently.

[discussion on discord](https://discord.com/channels/552499021260914688/1016107419543285901/1016415320736551052).

[2022-09-05 19:15] plmercereau commented on #332
related:
- https://github.com/nhost/cli/issues/140
- https://github.com/nhost/cli/issues/162
- https://github.com/nhost/nhost/pull/787

[2022-09-07 11:43] #218 closed

[2022-09-07 11:44] #328 closed

[2022-09-07 14:07] ctrlemo commented on #218
👍🏽

[2022-09-08 01:58] dylan-hoefsloot commented on #220
Can we add this to the documentation? It was not obvious and I had to come search the issues to find the solution, ideally you would be able to login with the oauth you signed up with.

[2022-09-08 12:18] quentin-decre opened #337 "local environment serverless function max payload size is less than the online one"
**Describe the bug**
The local environment serverless function max payload size seems to be less than the online one by default.
How could I increase local environment (nhost up) payload size ?

**To Reproduce**
Just POST a big payload to a Hello World serverless function.

**Expected behavior**
Should Work

**Screenshots**
![image](https://user-images.githubusercontent.com/1137511/189119317-bf6ac

[2022-09-12 12:19] elephant3 opened #342 "Set default smtp port to 1025"
**Description**
CLI currently generates a new app skeleton with smtp port set to a random value from range `1000..1999`

The default value for `mailhog` container is set to `1025` and so the generated nhost config should have the same

[2022-09-15 14:21] Salman9000 commented on #18
Did u find a solution?

[2022-09-15 18:22] vipafattal commented on #18
Yes hopefully I managed to get `nhost dev` to work, just use WSL with `ubuntu 20.04.4 LTS` and follow the same steps by [akd-io](https://github.com/nhost/cli/issues/18#issuecomment-860277128)

[2022-09-19 06:36] ThirusOfficial opened #350 "Initializing Nhost project locally through CLI fails"
Initializing a project locally failed with the message `Failed to pull migrations from remote`

Nhost CLI version: v0.8.1

<img width="565" alt="Screenshot 2022-09-19 at 11 29 22 AM" src="https://user-images.githubusercontent.com/74656238/190961305-d64f734e-23db-4013-9bc4-6f8dfe7a8a2a.png">

Debug messages:
<img width="848" alt="Screenshot 2022-09-19 at 11 52 07 AM" src="https://user-images.github

[2022-09-19 15:43] quentin-decre opened #351 "Nhost CLI (up) environments variables could use dotenv flow priority order"
Regarding my tests, I understood that Nhost up will load .env.development as environment variables.
What if we also have a .env, and a .env.local ?
It would be great it env files are loaded according to dotenv flow convention : https://www.npmjs.com/package/dotenv-flow

[2022-09-20 16:37] jovermier opened #356 "Serverless Functions don't clone down"
When running `nhost init --remote` the functions directory does not clone down. The package.json and tsconfig.json files are also missing.

[2022-09-20 16:45] jovermier opened #357 "Cloning remote project has default email templates instead of custom"
When running `nhost init --remote` the emails directory cloned down are all the default ones instead of the ones I have updated in the git project. I understand the project is on the free tier but I would still expect those email templates to be what I have configured in preparation to go to a paid plan.

[2022-09-20 17:55] elitan commented on #357
If you already have a git repo setup for your Nhost project you should clone your repository, and not do `nhost init --remote`.

`nhost init` is meant to only run **once** ever of the life cycle of a Nhost project.

[2022-09-20 17:59] jovermier commented on #357
I understand init remote isn't intended to be used frequently during development. There was an issue with the migration files in my project after upgrading the cli so I wanted to get a fresh version of the project to test.

[2022-09-20 18:02] elitan commented on #357
Ok, that's also a valid use case.

Yea, good point. Let's keep this issue open. I also think it would make sense that the email templates would sync. However, it's not a quick fix for how we set things up in our infrastructure. Pulling migrations/metadata is easier.

[2022-09-20 18:07] jovermier commented on #357
Yup I figured things might be a little more challenging on your side. Figured it would be good to get it on the backlog.

[2022-09-21 16:52] dandiasd opened #382 "error while trying to init project"
I got an error while trying to
`nhost init --remote`
error :
`Failed to initialize Hasura client`

[2022-09-22 17:12] elephant3 commented on #313
This one has been fixed in recent releases. @seyaobey-dev could you confirm?

[2022-09-23 14:59] elephant3 commented on #331
Fixed in upstream and will be included in the next release next week

[2022-09-26 04:07] Angryman18 opened #364 "while i run the command i get to see this error everytime"
![Screenshot from 2022-09-25 20-08-16](https://user-images.githubusercontent.com/63530626/192191856-626bea4d-b11e-4112-80aa-90a28e74d97c.png)

[2022-09-26 07:38] #337 closed

[2022-09-26 07:43] #342 closed

[2022-09-26 08:32] elephant3 commented on #364
Hello @Angryman18

Could you please show permissions for your folder `/home/system76/Desktop/Projects` and downloaded file `cli-v0.8.1-linux-amd64.tar.gz` there?

[2022-09-26 09:05] Angryman18 commented on #364
![Screenshot from 2022-09-26 14-34-59](https://user-images.githubusercontent.com/63530626/192237247-aa02518c-98c7-48e5-8919-66401a5426c0.png)

[2022-09-28 12:36] elephant3 commented on #364
Solved by removing the `~/.nhost/hasura`

[2022-09-28 12:36] #364 closed

[2022-09-28 22:30] FostersData opened #372 "How to get user details in a custom function?"
It looks like custom functions are just a plain Lambda function without any of the Nhost context. Is there a way to get the current user etc?

What I'm looking for is to call the custom function from the frontend, with a logged-in user in the client. I'll check the user's email against a whitelist and then proxy the request through to a separate backend which can query our DB.

If this isn't possi

[2022-09-29 06:00] elitan commented on #372
Maybe this can help you:

Get the authenticated user in a Serverless Function

https://github.com/nhost/nhost/discussions/278

[2022-09-29 16:10] comontes commented on #350
I get the same error 🙁

[2022-09-29 21:05] Andrew-Bekhiet opened #373 "Cannot start nhost cli"
Whenever I run ```nhost up``` I run into errors that seem weird

Output of ```sudo nhost up --debug```
[code]

But port 5432 is available, and even when I specify different port:

Output of ```sudo nhost up --debug --db-port 5430```:
[code]

Also I can't find any documentation about where I can find nhost logs or its docker compose logs
To reproduce just run ```nhost init``` type an app name then

[2022-09-29 21:53] elephant3 commented on #373
Hello and thanks for reporting 👋

Please let me know the OS you're using.

Logs can be read via `nhost logs`, it has a few flags, check out `nhost logs --help`. For checking db logs I'd run in separate terminal tab `nhost logs -f postgres` and then run `nhost up -d`.

If issue persists, you can try to remove `.nhost` folder in the root of the project (which would also erase database state) and ret

[2022-09-29 22:41] Andrew-Bekhiet commented on #373
Kali Linux

Output of ```nhost logs -f postgres```:

[code]

I see that it is a permission error so I'm not sure if it is because of my system or the docker container?

This is the first time I use the cli so there is no database state in ```.nhost```, anyway I tried it but it still fails

[2022-09-29 22:58] Andrew-Bekhiet commented on #373
After editing ```config.yaml``` and setting pdata:

[code]

I had another error with minio:

[code]
But I disabled it for now and it worked

[2022-09-29 23:00] FostersData commented on #372
That gives the user ID, but can do a step better by hitting the Hasura Auth endpoint to get user details (just send the access token as a bearer token in the `Authorization` header). OpenAPI docs [here](https://editor.swagger.io/?url=https://raw.githubusercontent.com/nhost/hasura-auth/main/docs/openapi.json) and go to `/user` endpoint

[2022-09-29 23:00] #372 closed

[2022-09-30 17:19] comontes commented on #350
[code]

Could it be that nhost CLI is downloading cli-hasura-darwin-amd64 when it maybe should be cli-hasura-darwin-arm64 since Im on an M1 Mac?

[2022-10-01 21:06] pkreipke opened #375 "Suggestion: add workspace/project name into GH checks comments."
I love this! Had no idea the deployment reported success back to GH. Here's a recent 'check':

<img width="1015" alt="image" src="https://user-images.githubusercontent.com/12683108/193428288-183909f3-2f74-43e3-861d-08d8db7aca5d.png">

Just wanted to suggest that somewhere in the comments that the integration inserts it would help to see the workspace and/or project name. E.g. now that I'm using bo

[2022-10-01 21:10] pkreipke commented on #375
And separately some questions:
1. does "Re-run all checks" button actually do a redeploy?
2. What if there are newer deployments, what happens?

Perhaps this is already documented somewhere?

[2022-10-03 20:03] abhishekhar001 commented on #18
i am also getting this same problem

[2022-10-03 20:04] abhishekhar001 commented on #18
can you please explain more. because i have installed this but still not working

[2022-10-03 20:05] vipafattal commented on #18
Did you try to run `nhost dev` instead? It seems to work

[2022-10-03 20:06] abhishekhar001 commented on #18
yes. but it is not working. can you please help me?? how can i contact you??

[2022-10-03 20:14] vipafattal commented on #18
Yes I think I followed this one and some other links I couldn't recall but mainly to set up the ubuntu, could you share what error you are getting with `nhost dev`?

[2022-10-03 20:15] abhishekhar001 commented on #18
[exit status 1
Container catalog-server-app-peaceful_grothendieck-postgres-1 Creating
Container catalog-server-app-peaceful_grothendieck-postgres-1 Created
Container catalog-server-app-peaceful_grothendieck-graphql-engine-1 Creating
Container catalog-server-app-peaceful_grothendieck-graphql-engine-1 Created
Container catalog-server-app-peaceful_grothendieck-postgres-1 Starting
Container catalog-se

[2022-10-03 21:47] Andrew-Bekhiet commented on #373
My bad! After reinstalling docker the issue is gone

[2022-10-03 21:47] #373 closed

[2022-10-03 22:17] vipafattal commented on #18
Can you have a look and see if this works for you https://github.com/nhost/cli/issues/373

[2022-10-04 05:44] altschuler opened #378 "Running in a GitHub Action"
## EDIT: Turns out this is only an issue when running locally using [act](https://github.com/nektos/act). Feel free to close if this isn't something you consider an issue with nhost cli (it probably isn't), but leaving open for the nhost team to decide.

Hi, I'm trying to run the local Nhost setup in a GitHub action (for testing), but am having issues during start.

Below is the command and output

[2022-10-04 17:04] elephant3 commented on #373
@Andrew-Bekhiet can you share the previous docker version which wasn't working for you? And also the one that you're currently using?

[2022-10-05 08:52] elephant3 commented on #378
Which docker version do you use?

[2022-10-05 08:54] altschuler commented on #378
`Docker version 20.10.17, build 100c70180f`

[2022-10-06 06:43] elitan commented on #382
Would you mind trying again with the latest version?

[code]

[2022-10-06 06:59] #313 closed

[2022-10-06 06:59] elephant3 commented on #382
Seems to be a dup of https://github.com/nhost/cli/issues/350
AFAIK still an issue, investigating

[2022-10-06 07:11] dandiasd commented on #382
actually this issue is done , I can create the nhost project now, I raised in discord like 1 month ago.

[2022-10-06 07:12] elitan commented on #382
@dandiasd If this was resolved, feel free to close this issue 🙏

[2022-10-06 07:12] dandiasd commented on #382
alright , thankss!

[2022-10-06 07:12] #382 closed

[2022-10-06 08:10] marcusrohden opened #383 "Port 9695 is not available"
Hi, I'm not being able to start my local dev env

[code]

Nhost CLI v0.8.3 for darwin-amd64
Docker version 20.10.17, build 100c701

[2022-10-06 09:03] szilarddoro commented on #383
Hey @marcusrohden! It's possible that `nhost dev` didn't exit properly and something keeps using that port.

Could you please try running the following command in your terminal to see what is using that port?
[code]

You can kill the process using that port, then run `nhost dev` again.

[2022-10-06 09:43] elephant3 commented on #383
looks like `hasura console` is running, check in `Activity Monitor` by querying `hasura`

[2022-10-06 11:08] elephant3 commented on #350
That will change in upcoming release. `amd64` works well on `Apple M1` if you have Rosetta installed. The error happens because of other problem - incorrect path to hasura cli, to be fixed soon

[2022-10-06 14:08] kratam opened #384 "Feature request: Add a "don't quit on error" flag to the CLI so the containers are not stopped in case of an error"
Use-case: In case of inconsistent metadata, the CLI quits immediately, preventing the developer from solving the issue right away (e.g. by fixing the table in the DB).

[2022-10-06 14:45] #383 closed

[2022-10-06 14:48] plmercereau commented on #384
Yes, we can't understand why a container failed to start. Not necessarily a flag but at least a means to get the logs of the failed container.
Maybe to print the container log to stdout

[2022-10-06 21:33] Andrew-Bekhiet commented on #373
Oh, Sorry I thought the error was gone because I reinstalled docker and used docker compose directly after replacing postgres service with other postgres instance outside docker (on the host machine), but testing it now looks like the cli is still failing because of postgres

In the two cases I used latest docker version available:
[code]

Here is docker compose file that works with me:
[code]

Af

[2022-10-07 17:07] alphakex2 opened #388 "Where is the windows exe?"

[2022-10-07 23:00] comontes commented on #350
yep, `parladu` is the name of the project's folder

[2022-10-08 06:00] alphakex2 opened #389 "Failed to pull migrations from remote"

[2022-10-08 06:15] alphakex2 commented on #389
Hi, after nhost init --remote, I'm getting failed to pull migrations from remote

[2022-10-09 22:32] Alex-Ferreli opened #443 "Migrations apply order, hasura-auth migrations should run before hasura-engine migrations"
Hi! I'm trying to setup the docker-compose example in my local machine. I've remove traefik in favor of caddy, i haven't changed/deleted nothing more.

The problem seems that if i start hasura with migrations support (hasura/graphql-engine:v2.11.2.cli-migrations-v3), tables in "auth" schema seems not present, and if create a relationship between user table and a new table, business migrations (tab

[2022-10-10 10:59] elitan commented on #389
I'm not able to reproduce this.

Can you please paste the full output of your terminal (commands and output) here?

[2022-10-10 16:35] #350 closed

[2022-10-11 03:25] cipto-hd opened #392 "Running nhost dev/up, got "no container found for project ...""
I had followed this tutorial step by step, https://dev.to/nhost/nhost-cli-from-zero-to-production-220h

but after running `nhost dev`, got this error:
![nhost dev/up error](https://user-images.githubusercontent.com/5018833/194988952-5ff4c5bb-a8c6-416d-ad75-5d33d9be2239.png)

By the way, my desktop OS is Ubuntu 22.04 and I found out that error `no container found for project "sample_app-ecstatic_ha

[2022-10-11 06:57] elitan commented on #159
@elephant3 Is it possible to use env vars defined in `.env.development` in `nhost/config.yaml` the way @plmercereau mentioned in the original post?

If not, we need to re-open this issue.

[2022-10-11 08:48] founderpad opened #393 "Running nhost dev after CLI update: 'Processing...' indefinitely before it fails"
I upgraded to the latest CLI, and now get this when I run a nhost dev:

[code]

If I do a `nhost logs -f` I get the following output:

[code]

Interestingly, Docker Desktop shows all the containers as "Running" which is confusing.

Here is the `package.json` inside `functions`:

[code]

There are also errors saying tables exist etc:

[code]

This all worked fine up until 4 days ago when I upgraded

[2022-10-11 08:54] elephant3 commented on #159
the first approach mentioned by @plmercereau shall work - variables from `.env.development` are loaded and take precedence

[2022-10-11 08:55] elephant3 commented on #159
interpolating envs the way Pilou suggested is possible, but it's another feature... I don't think this issue should be re-opened, rather a new feature request must be created

[2022-10-12 08:24] kratam opened #395 "Ability to clone the prod DB to local env"
It would be great to backup & restore the prod DB to my local env with just a single command (e.g. `nhost clone-db`).
Or at least give a hint on how to do it. I've tried `pg_dump` and `pg_restore` but something always breaks (hasura cannot access `hdb_catalog`, `nhost_auth_admin` cannot access `auth`, etc).

[2022-10-12 10:36] #393 closed

[2022-10-12 10:55] elitan commented on #393
@founderpad Would you mind sharing how you fixed this issue? It can be helpful fo the next developer who faces the same problem.

[2022-10-12 13:33] plmercereau commented on #190
solved by https://github.com/nhost/functions/pull/11

[2022-10-12 14:43] mortenhillbom commented on #159
I'm having a similar issue! I'm implementing workos and would like to add the workos `client_secret` and `client_id`, without storing it in `config.yaml`.
Interpolating would be great, but I'd be satisfied with the first approach as well. Adding `AUTH_PROVIDERS_WORKOS_ENABLED`, `AUTH_PROVIDERS_WORKOS_CLIENT_ID`, `AUTH_PROVIDERS_WORKOS_CLIENT_SECRET` to `.env.dvelopment` does not work, the endpoint

[2022-10-12 17:57] beepsoft opened #398 "nhost dev fails with --graphql-port"
I'm running the latest nhost on M1 mac with Docker Desktop 4.12.0

[code]

I try to create a new project and run it with Hasura running on a user specified port but startup fails like this:
[code]

If I run without `--graphql-port` it starts OK. (Interestingly, if I run with `--graphql-port 8888` it starts OK as well. But it won't start with any other port I tried)

[2022-10-12 18:53] elitan commented on #398
Would you mind looking at the logs `nhost logs -f` while starting Nhost? There might be a clue there.

[2022-10-12 21:16] spakanati commented on #159
In order to use the first approach for Twilio credentials) (adding it to `.env.development`) how would I be able to make that work with `nhost env pull`?

[2022-10-13 04:59] beepsoft commented on #398
Nothing really helpful there:

<img width="1601" alt="image" src="https://user-images.githubusercontent.com/1926265/195503329-7a6534a2-b4fd-4071-9bdd-e99138d66643.png">

Sometimes postgres seems to start up and then fails.

<img width="1081" alt="image" src="https://user-images.githubusercontent.com/1926265/195505462-e230983a-b95b-4508-8a1d-9f395d5dcaa4.png">

I checked that I have enough resource

[2022-10-13 06:59] beepsoft commented on #398
I don't know if it is related, but now I tried on an Intel mac and after `nhost init` it fails to start even without `--graphql-port`:

[code]

`nhost logs -f` shows nothing here.

[2022-10-13 07:30] beepsoft commented on #398
On Intel Mac for me 0.6.14 is the latest, which works. v0.7.1 and above fails with this `no such service: hasura` message. I removed all hasura images and updated my hasura cli as well, just in case.

[2022-10-13 08:33] beepsoft commented on #398
On Intel I updated docker and now it works fine, sorry about that. I will see if it helps on my M1 machine, although there I already had the latest version.

[2022-10-13 16:44] beepsoft commented on #398
What I can conclude is that it happens randomly on M1 with Docker version 20.10.17, build 100c701.

I tried running the same `nhost dev -d --graphql-port 8850` command over and over again and sometimes it starts OK, sometimes it stops with `Error response from daemon: dial unix docker.raw.sock: connect: connection refused`. Then if I change the port: it either starts all right or fails with the sa

[2022-10-17 06:40] elitan commented on #254
I've updated the title of this post to reflect a more general suggestion.

Something like this could work:

[code]

To support all commands [here](https://hasura.io/docs/latest/hasura-cli/commands/index/). The commands would be run with the correct `--endpoint` and `--admin-secret` flags for the current project.

[2022-10-17 10:27] ju-li opened #402 "nhost cli stuck after installing any npm package"
Hi nhost team!

The `nhost/functions` docker image seems to get stuck in a perpetual loop of the same 2 messages after I install any packages in either `./` or `./functions` of my nhost project:
[code]

[2022-10-17 14:21] #402 closed

[2022-10-17 19:55] cipto-hd commented on #392
now It turns out that nhost up/dev needs sudo. solved

[2022-10-17 19:55] #392 closed

[2022-10-18 07:21] elitan commented on #392
You shouldn't have to use `sudo` when doing `nhost up/down`. It might be that your permissions for docker might be adjusted.

Here's an article on how to use docker as a non-root user:

https://docs.docker.com/engine/install/linux-postinstall/

[2022-10-19 11:17] cipto-hd commented on #392
Thank you for the info, i'll check it soon. Very appreciated

[2022-10-20 05:38] marcusrohden commented on #395
I support this. It would be an amazing feature!
I had to recreate my cloud env twice before.

[2022-11-01 13:44] Alex-Ferreli commented on #227
Same issue happen with latest version (v0.8.6).

[2022-11-01 14:00] elitan commented on #227
`nhost init --remote` only pulls the following for now:

- Database migrations
- Hasura Metadata

We're working on a new model for configuration that `nhost init --remote` should support.

[2022-11-02 23:22] harmnot opened #424 "trying to replaced credential minio on env.development , but not replaced"
I am trying to defined `minio_root_password` and `minio_root_user`  in `.env.development`, when I checked `.nhost/docker-compose.json` it was replaced but, then I try to login on Minio local with my own credential , it doesn't work, so I wonder the screenshot below is the issue ? because it use env variables when start the MinIO Service

is that any way to change the credential with my own credent

[2022-11-04 11:09] chrismaboom opened #427 "Error: Failed to init hasura client"
When I try to start nhost server either with `host dev` or `nhost up` I get an error
`Error: failed to init hasura client: fork/exec /Users/<my_user>/.nhost/hasura: exec format error`

I am on Nhost cli v0.8.6

Can you please help me with this?

[2022-11-04 18:53] #427 closed

[2022-11-04 18:54] nunopato commented on #427
fixed by removing the hasura binary under `~/.nhost`

[2022-11-08 05:30] sscotth opened #431 "`nhost init --remote` error"
I created a brand new project and was following the cli [getting started guide](https://docs.nhost.io/platform/overview/get-started-with-nhost-cli).

[code]

With the `--debug` option I get a different error:

[code]

#389

[2022-11-08 19:27] linden opened #432 "Hasura Doesn't Stop With `nhost down`"
I've found that hasura will continue to run even after `nhost down`. this will prevent you from stopping then starting a instance. from what I've noticed this seems to happen every time (even on the latest version, `v0.8.6`). I've found a work-around I've been using for a while (`nhost down && pkill hasura`). I'd recommend either adding `pkill hasura` when `nhost down` is run or moving hasura into

[2022-11-12 20:28] joaomelo opened #439 "feature request: run nhost on windows natively"
Hi there,

I understand that the way to use the NHost client on a windows machine is through the linux subsystem. I don't question this solution as a legitimate approach, but it's suboptimal for my context.

I'd like to request binaries for the cli to be released to windows natively.

[2022-11-13 01:57] dipakparmar opened #440 "`nhost link` link command creates nhost.yaml file but writes json output"
https://github.com/nhost/cli/blob/0f67adaa1c69d5b40e24b2c75ce960d17115d1ab/cmd/link.go#LL281C2-L290C12

[2022-11-13 15:41] damywise opened #442 "nhost cli cannot run `nhost up` or `nhost dev`"
https://docs.nhost.io/platform/cli#get-started
[code]

Docker is up and running
MacOS Monterey 12.6
Apple M1

[2022-11-14 19:06] nunopato commented on #442
@damywise can you find any error if you run it in debug mode with `-d`?

[code]

[2022-11-14 21:57] damywise commented on #442
Here's full command output
[code]

[2022-11-15 10:09] elephant3 commented on #442
I think you need to update your docker for mac. In the recent versions `docker-compose` became a subcommand of `docker`, i.e. `docker compose` and we call it this way `docker compose -p`

[2022-11-15 10:14] damywise commented on #442
I'm using the latest version, though? (I think)
<img width="1382" alt="image" src="https://user-images.githubusercontent.com/25608913/201893064-65b18eef-427a-4d7d-8fbb-0b9b29c630db.png">

`docker version`:
[code]

[2022-11-15 10:14] damywise commented on #442
Yeah neither `docker-compose` nor `docker compose` works

[2022-11-15 11:14] damywise commented on #442
<img width="872" alt="image" src="https://user-images.githubusercontent.com/25608913/201906001-8e8aa386-23fd-429d-856f-84515874811d.png">

[2022-11-15 11:15] elephant3 commented on #442
I have exactly the same docker for Mac... weird. Maybe you have other docker installations, f.e. from homebrew?

[2022-11-15 11:30] elephant3 commented on #442
check that option in preferences of Docker for Mac
![image](https://user-images.githubusercontent.com/48279149/201909096-0e723750-87c1-4610-b2bb-5ec47e93ab47.png)

[2022-11-15 11:31] elephant3 commented on #442
https://docs.docker.com/compose/compose-v2/
https://docs.docker.com/desktop/settings/mac/#general

It was enabled by default for me, but some people in internet report similar to yours issue

[2022-11-15 11:49] damywise commented on #442
Yeah that's already enabled by default for me as well

[2022-11-15 11:54] elephant3 commented on #442
Then I'd say you probably have another conflicting docker installation. Is it a fresh install?

[2022-11-15 11:54] damywise commented on #442
I did [this](https://stackoverflow.com/questions/74419205/docker-compose-is-not-a-docker-command-when-running-docker-compose) and it works again. Thank for the help!

[2022-11-15 11:56] damywise commented on #442
Wait no `nhost up` is still not working

[2022-11-15 11:57] damywise commented on #442
Now it's just
[code]

[2022-11-15 11:58] damywise commented on #442
`docker compose` doesn't work

[2022-11-15 12:12] elephant3 commented on #442
you need to activate Docker Compose V2

[2022-11-15 12:42] elephant3 commented on #442
can you run `docker compose` when Docker Compose V2 is activated? Also, did you try to restart docker for Mac after you updated settings?

[2022-11-15 12:44] damywise commented on #442
Okay so to summarize:
1. Install Docker
2. `docker-compose` and `docker compose` doesn't work
3. Install Rosetta 2 with `softwareupdate --install-rosetta`
4. Uncheck `Use Docker Compose V2` in Docker Dashboard -> Settings -> General.
5. `docker-compose` now works, but `docker compose` doesn't (not sure if step 3 has something to do with it)
6. Check `Use Docker Compose V2`
7. `docker-compose` and

[2022-11-15 14:14] elephant3 commented on #442
Is is the fresh installation of Docker for Mac? I'd try to reinstall it

[2022-11-16 15:45] Alex-Ferreli commented on #443
Yes, i confirm that using the image without "cli-migrations-v3" didn't work. Migrations didn't get applied if the normal image is used. So i must apply it manually after docker-compose is up.

[2022-11-18 08:28] dbarrosop opened #448 "Adhere to XDG Base Directory Specification"
The cli should be a good citizen and adhere to the "XDG Base Directory Specification":

https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2022-11-19 03:58] MichalNemec commented on #319
Hello, i am missing url setting too.
maybe someone could do PR ? i dont know go.

i found where is this hardcoded.
https://github.com/nhost/cli/blob/8974a34488a043c4403f36882bf7ca852764f423/nhost/compose/config.go#L182
until
https://github.com/nhost/cli/blob/8974a34488a043c4403f36882bf7ca852764f423/nhost/compose/config.go#L204

[2022-11-19 22:52] Rigel772 commented on #254
When I try:
[code]
I am getting
`Error: unknown command "hasura" for "nhost"`

I am trying to migrate existing self hosted Hasura project to self  hosted Nhost instance.
I have all data in "public" schema, I am hoping the migration would not affect the Nhost's "auth" and "storage", right?

[2022-11-20 18:40] gregoryforel commented on #442
Maybe you can try `sudo apt-get install docker-compose-plugin`?

Seems like `docker-compose` is being dropped in favor of `docker compose`.

[2022-11-20 19:26] elitan commented on #114
Has been replaced by: https://github.com/nhost/functions

[2022-11-20 19:26] #114 closed

[2022-11-20 19:27] #190 closed

[2022-11-20 19:28] elitan commented on #255
@nunopato Is this in sync right now?

[2022-11-20 19:29] elitan commented on #299
skipping for now.

[2022-11-20 19:29] #299 closed

[2022-11-20 19:31] elitan commented on #320
Should be fixed now.

[2022-11-20 19:31] #320 closed

[2022-11-20 19:31] elitan commented on #356
Will we ever (reasonably) be able to do this @elephant3? If not, I suggest we close this issue using "Closed as not planned".

[2022-11-20 20:23] Rigel772 commented on #395
Did you try this?
https://github.com/nhost/cli/issues/227#issuecomment-1298554205

[2022-11-21 01:48] damywise commented on #442
Macos doesn't have `apt-get`
=

[2022-11-21 10:21] elephant3 commented on #356
@elitan cloning the functions from user's GitHub repo should be possible but as you know our `nhost init --remote` mutates the remote state of migrations, so I'm afraid people would confuse it with behaviour like in `git clone...` and break their migrations unintentionally when called more than once. Instead maybe we can rethink the logic in `nhost init --remote` and do instead:
- git clone ... (w

[2022-11-21 10:27] elitan commented on #356
No, we shouldn't clone the repo. That people can do on their own using Git.

I was thinking of cloning the functions from our infra. But because we're bundling functions it does not make sense. So I'll close this issue for now.

[2022-11-21 10:27] #356 closed

[2022-11-27 22:13] Cactu5 opened #460 "`nhost up` does not work in wsl2"
Nhost CLI version: `Nhost CLI v0.8.11 for linux-amd64` on **wsl2**.
Docker version: `Docker version 20.10.21, build baeda1f`
Ubuntu version: `Ubuntu 20.04`

I initiated the project by doing
`nhost init --remote`
cd into the directory and then run `nhost up`.

It then fails with:
[code]

[See full log here](https://pastebin.com/m77mAYAN)

It seems like there's some sort of permissions issue:
`initd

[2022-11-30 12:04] elephant3 commented on #235
@joshua1 could you confirm that's still an issue in the latest CLI version?